[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
mistune = "*"
Pygments = "*"
PyYAML = ">=4.2"
libsass = "*"
requests = ">=2.20"
ankh = {git = "https://github.com/jdcantrell/ankh.git",ref = "master"}
pillow = "*"
livereload = "*"
click = "*"
werkzeug = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
