[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"Jinja2" = "*"
mistune = "3.0.0rc1"
Pygments = "*"
PyYAML = ">=4.2"
libsass = "*"
requests = ">=2.20"
pillow = "*"
livereload = "*"
click = "*"
werkzeug = "*"
ankh = {editable = true, ref = "master", git = "https://github.com/jdcantrell/ankh"}

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
