<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}hello, goodrobot.net{% endblock %}</title>
    <link href='/css/gxl.css' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c42d1a">
    <meta name="theme-color" content="#00389D">


    {% block head %}{% endblock %}
  </head>
  <body>
    <header id="header">
       <a title="goodrobot.net" href="/">
        <img alt="goodrobot" src='/images/goodrobot.png'>
      </a>
    </header>

    {% block content %}{% endblock %}

    <footer id="footer">
      <ul class='list-inline'>
        <li><a href="/">home</a>
        <li><a href="/log">log</a>
        <li><a href="/stream">links</a>
      </ul>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
