<!DOCTYPE html>
<html>
{% set nav_items = nav_items|default([
  ('/about/', 'about', 'about'),
  ('/git/', 'git', 'git'),
  ('/lab/', 'lab', 'lab'),
  ('/log/', 'log', 'log'),
  ('/', 'projects', 'projects'),
  ('/stream/', 'stream', 'stream'),
]) -%}
  <head>
    <title>{% block title %}hello, goodrobot.net{% endblock %}</title>
    <link href='/css/mono-dark.css' rel='stylesheet' type='text/css'>

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c42d1a">
    <meta name="theme-color" content="#00389D">


    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="page-header" role="navigation">
       <a title="goodrobot.net" href="/">
        <img style="position:absolute;right:0px;top:3px" alt="goodrobot" src='/images/goodrobot.png'>
      </a>
      <span class="page-header-title">goodrobot</span>

      {% if current_page_sub_title %}
      <span class="page-sub-title">{{ current_page_sub_title }}</span>
      {% endif %}

      <div class="page-nav">
      <ul class="list-nav" >
        {% for href, id, name in nav_items %}
        {% if current_page != id %}
        <li {% if current_page == id %}class="active"{% endif %} >
          <a href="{{ href|e }}">{{ name|e }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      </div>
    </header>
    <div class="content" >
    {% block content %}{% endblock %}
    </div>

    <footer class="page-footer">
      <ul class='list-nav'>
        {% for href, id, name in nav_items %}
        <li {% if current_page == id %}class="active"{% endif %} >
          <a href="{{ href|e }}">{{ name|e }}</a>
        </li>
        {% endfor %}
      </ul>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
