// Import the normalize plugin
$legacy-support-for-ie6: 0;
$legacy-support-for-ie7: 1;
$legacy-support-for-mozilla: 0;

@import "normalize";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/box-shadow";

@mixin letterpress($background-color){
    background-color: $background-color;
    color: shade($background-color, 35);
    text-shadow: tint($background-color, 9) -1px 1px 1px
}

$gradient1: #a5d7a5;
$gradient2: #78bc99;
$gradient3: #398282;
$gradient4: #0a476a;

html, body {height: 100%}

a {
  color: $gradient4;
}
a:visited {
  color: $gradient3;
}

@for $i from 1 through 10 {
  .link-list li:nth-child(#{$i}) .time-ago {
    color:mix($gradient2, $gradient4, 10% * $i);
  }
}
    

.time-ago {
  color:$gradient3;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
  color: #444;
  background-color:#0a476a;
  background-color:#fafafa;
  padding: 0;
  margin: 0;
  background-repeat: both;
}

#header {
  text-align: center;
  padding-top: 5px;
  background-color: #0089ef;
  background-color:#224293;
  @include background-image(linear-gradient(top, 
    $gradient1 0%,  $gradient1 25%, 
    $gradient2 26%, $gradient2 50%, 
    $gradient3 51%, $gradient3 75%, 
    $gradient4 76%, $gradient4 100%
  ));
  color:#eee;
}

.goodrobot {
  min-height: 100%;
}

.content {
  overflow: auto;
  padding-bottom: 50px;
}

body > footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  background-color:#398282;
  @include background-image(linear-gradient(top, #0a476a 0%,#0a476a 25%,#398282 26%,#398282 50%,#78bc99 51%,#78bc99 75%,#a5d7a5 76%,#a5d7a5 100%));
  //border-top: 3px solid #eee;
}

a {
  text-decoration : none;
}
a:hover {
  text-decoration: underline;
}

nav {
  padding: 15px 0 0 0;
  text-align: center;
  a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #224293 -1px 1px 1px
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 4px;
    }

  }
}

h1 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 2.3em;
  line-height: 1.1em;
  font-weight: normal;
}

article {
  background-color:#fafafa;
  padding:5px 50px;
  max-width: 800px;
  width:70%;
  margin: 20px auto 0;
  @include box-shadow(#333 1px 1px 6px);

  h1 {
    margin-bottom: 5px;
  }

  header {
  font-family: 'Gentium Book Basic', serif;
    text-align: center;
    .details {
      color: #888;
    }
  }

  p {
    text-indent: 25px;
  }
}

.tag-python {color: #008f00}
.tag-ruby {color: #941200}
.tag-php {color: #625a93}
