@import "grid";
@import "compass/css3/images";
@import "compass/css3/box-shadow";

$columns: 12;
$column-width: 60px; 
$gutter-width: 20px; 

body {
  background-color: #fafaf1;
}


.feeds {
  li {
    padding: 0;
    margin: 0;
    height:26px;
    overflow: hidden;
  }
}


ul {
  list-style: none;
  margin:0;
  padding: 0;
}

h2 {
  text-align: center;
}

.stream {
  margin: 0 5px;
}

.feed-title {
  display: none;
}

@media all and (min-width:980px) {
  body {
    background-color: #0a476a;
  }
  .feeds {
    @include row();
    margin: 0;
    width: 100%;
  }

  .feed-title {
    display: inline;
  }

  .other-links {
    @include row();
    margin: 0;
    width: 100%;
  }

  .stream {
    background-color: #fafaf1;
    margin: 20px auto;
    width: 980px;
    padding: 0 10px;
    @include box-shadow(#333 1px 1px 6px);
  }

  .feed {
    @include column(4);
    position: relative;
  }
  .interest-links {
    @include column(8);
  }

  .pinboard {
    @include column(4);

    li {
      margin-bottom: 10px;
    }
  }
}

.feed {
  .link-card {
    overflow: auto;
    height: auto;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    margin-top: -3px;
    margin-left: -3px;
    @include box-shadow(#333 1px 1px 6px);
    border-radius: 2px;
  }

  .link-card + li {
    margin-top: 26px;
  }
  .link-card:first-child {
    margin-top: -29px;
  }
  .link-card:first-child + li {
    margin-top: 46px;
  }
}


