{% set data = [
  {
    "kind": "img",
    "href": "images/weeks/books-2.png",
    "title": "books",
    "desc": "Some books from a blender tutorial",
    "date": "2024-12-26",
  },

  {
    "kind": "img",
    "href": "images/weeks/box_grid.png",
    "title": "Boxes and Lights",
    "desc": "Some boxes and lights",
    "date": "2020-01-26",
  },

  {
    "kind": "img",
    "href": "images/weeks/goodrobot.net-4k.png",
    "title": "goodrobot.net",
    "desc": "Some fancy text with some fancy lighting",
    "date": "2020-06-13",
  },

  {
    "kind": "img",
    "href": "images/weeks/mood-follows-action-4k.png",
    "title": "Mood Follows Action",
    "desc": "Motivational Poster",
    "date": "2024-01-13",
  },
] %}
