<div id="footer" class="container">
  <div class="row">
    <hr>
    <span class="footer-text">
      goodrobot.net is the digital playground for JD Cantrell 
    </span>
    <span class="footer-icons clearfix">
      <a class="github-icon" href="http://github.com/jdcantrell">github</a>
      <a class="google-plus-icon" href="http://plus.google.com/106872280900620766970/posts">google plus</a>
      <a class="lastfm-icon" href="http://www.last.fm/user/goodrobot_jd">last.fm</a>
      <a class="pinboard-icon" href="http://pinboard.in/u:jdcantrell">pinboard.in</a>
      <a class="rdio-icon" href="http://rd.io/#/people/goodrobot">rdio.com</a>
      <a class="twitter-icon" href="http://twitter.com/goodrobot_jd">twitter.com</a> 
    </span>
  </div>
</div>
