
.post-content img
  max-width: 700px

@media (max-width: 730px)
  .post-content img
    max-width: 100%

.post-tag
  font-size: 16px
  line-height: 16px
  padding: 2px 4px
  color: $c01
  background-color: $c02

.post-heading
  font-size: 24px
  line-height: 32px
  margin-bottom: 16px

  time
    display: inline-block
    padding: 2px 4px
    font-size: 16px
    line-height: 16px
    color: $time-color
    background-color: $time-background-color
