@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin inner-shadow($blur-radius, $color, $x:0px, $y:0px, $spread:0px) {
  box-shadow: inset $x $y $blur-radius $spread $color;
  -moz-box-shadow: inset $x $y $blur-radius $spread $color;
}

@mixin box-shadow($blur-radius, $color, $x:0px, $y:0px, $spread:0px) {
  box-shadow: $x $y $blur-radius $spread $color;
  -moz-box-shadow: $x $y $blur-radius $spread $color;
}

@mixin text-shadow ($blur-radius, $color, $x:0px, $y:0px) {
  text-shadow: $color $x $y $blur-radius;
}

@mixin letterpress ($color:#fff) {
  @include text-shadow(0px, $color, 0px, 1px);
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block
}

* html .clearfix {
  height:1%;
}
