@import "normalize.scss";
@import "1140.scss";
@import "css3.scss";
@import "util.scss";

//base color definitions
$background-color: #0b486b;
$text-heading:#a8dba8;
$text-color: #eef7dd;
$link-color: #a8dba8;

$navigation-background: #3b8686;
$navigation-text: #cff09e;
$navigation-inset: #0b486b;

$date-background: #79bd9a;
$date-text: #3b8686;
$date-inset: #a8dba8;

$tag-background: #3b8686;
$tag-text: #79bd9a;
$tag-inset: #0b486b;

$link-bubble-background: #407dca;
$link-bubble-inset: #203e64;


html {
  min-height:100%;
	//@include inner-shadow(400px, $background-color-2, $spread:100px);
}

body {
	@include font-normal;
  color: $text-color;
  //background: url(/images/square_bg.png) repeat $background-color;
  background: url(/images/square_bg.png) repeat, url(/images/bg-pattern.png) repeat-x $background-color;
  margin: 0;
  padding: 0;
}

p {
  text-indent: 1em;
  margin-top: 5px;
}

h1, h1 a {
  @include links($text-heading, $text-heading);
	@include font-large;
  @include text-shadow(8px, #000);
  margin: 5px 0px 0px 3px;
}

h2 {
	@include font-medium;
  margin-bottom:8px;
}

.site-logo {
  text-align: center;
}

.header-bar {
	@include font-normal;
	@include links($navigation-text, $navigation-text);
	padding: 10px 0 0 0;
	margin: 0;
	list-style: none;
  text-shadow: none;
}

.header-bar li {
  @include letterpress($navigation-inset);
  float: left;
  padding: 5px;
  background-color: $navigation-background;
  line-height: 1.1em;
}

.header-bar li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.title-bar {
	@include font-medium;
	clear: both;
  padding: 5px;
  font-size: 30px;
}

.publish-info {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 3px;
  line-height: 18px;
  padding-left: 3px;
}
.post-title {
  margin-bottom: 0px;
  line-height: 34px;
}

.project-links {
  @include font-small;
  list-style: none;
  padding: 2px 0 1px 0;
  border: 0px solid lighten($background-color, 10%);
  border-width: 0 0 1px 0;
  margin: 5px 0;
}
.project-links li {
  display: inline-block;
  padding-left: 10px;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: lighten($background-color, 10%);

  //border-color: $text-color;
}

//little tag bubbles
.post-date {
  @include bubble($date-background, $date-text, $date-inset);
}

a.tag {
  @include bubble($tag-background, $tag-text, $tag-inset);
}

//icon links
.source {
  @include icon('/images/site-icons/github-16x16.png', 18px);
}
.website {
  @include icon('/images/site-icons/website-16x16.png', 18px);
}

.rdio-icon {
  @include icon-only('/images/site-icons/rdio-24x24.png', 24px);
}
.twitter-icon {
  @include icon-only('/images/site-icons/twitter-24x24.png', 24px);
}
.lastfm-icon {
  @include icon-only('/images/site-icons/lastfm-24x24.png', 24px);
}
.github-icon {
  @include icon-only('/images/site-icons/github-24x24.png', 24px);
}
.pinboard-icon {
  @include icon-only('/images/site-icons/pinboard-24x24.png', 24px);
}
.google-plus-icon {
  @include icon-only('/images/site-icons/google+-24x24.png', 24px);
}

//page navigation
.page-nav {
  width: 100%;
}

.next-item {
  float: right;
}

.previous-item {
  float: left;
}

#footer {
  margin-bottom: 10px;
}

.footer-text {
  float: left;
}

.footer-icons {
  float: right;
}

/* stream styles */
.links {
  ul {
    padding:0; 
    list-style: none;
  }
  li {
    padding: 0; 
    margin: 0;
    overflow: hidden; 
    height: 1.5em;
  }
}
.links .hover {
  @include bubble(rgba(0, 0, 0, .7), $navigation-text, $navigation-inset);
  @include box-shadow(8px, rgba(0, 0, 0, .7)); 
  position: absolute;
  height: auto;
  overflow: visible;
  z-index:1000;
  margin-top: -2px;
  margin-left: -3px;
}
.hover a, .hover a:visited, .hover a:hover {
  color: $navigation-text;
  text-decoration: none;
}
.hover a:hover {
  text-decoration: underline;
}

.twitter-meta {
  font-size: 11px;
  line-height: 13px;
  text-indent: 10px;
}

#pinboard, #twitter { 
  list-style: none;
  padding: 0;
}
#pinboard li, #twitter li {
  margin: 10px 0;
}

.time-ago {
  display: inline-block;
  text-align: right;
  width: 50px
}
.link-list {
  list-style:none;
  padding: 0;
  margin: 0;
  li {
    padding: 0; 
    margin: 0;
    overflow: hidden;
    height: 1.5em;
  }
}

.ankh h2 {
  margin-bottom: 5px;
}

$months: #694d7c;
$days: #f29108; 
$hours: #dd4702; 
$new: #599905;

.ago_new {
  @include bubble($new, darken($new, 13%), lighten($new, 10%));
}

.ago_hours {
  @include bubble($hours, darken($hours, 13%), lighten($hours, 10%));
}

.ago_days {
  @include bubble($days, darken($days, 13%), lighten($days, 10%));
}

.ago_months {
  @include bubble($months, darken($months, 13%), lighten($months, 10%));
}
