@import "normalize.scss";
@import "1140.scss";
@import "css3.scss";
@import "util.scss";

//base color definitions
$background-color: #3465a4;
$background-color-2: #204a87;
$text-heading:#a6d1ff;
$text-color: #eeeeec;
$link-color: #a6d1ff;

$naviation-background: #edd400;
$navigation-text: #c4a000;
$naviation-inset: #fce94f;

$date-background: #73d216;
$date-text: #4e9a06;
$date-inset: #8ae234;

$tag-background: #edd400;
$tag-text: #c4a000;
$tag-inset: #fce94f;

$link-bubble-background: #407dca;
$link-bubble-inset: #203e64;
$soft-border-color:#789acd;


html {
  min-height:100%;
	@include inner-shadow(400px, $background-color-2, $spread:100px);
}

body {
	@include font-normal;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

p {
  text-indent: 1em;
  margin-top: 5px;
}

h1, h1 a {
  @include links($text-heading, $text-heading);
	@include font-large;
  @include text-shadow(8px, #000);
  margin-top: 5px;
}

h2 {
	@include font-medium;
  margin-bottom:8px;
}

.site-logo {
  text-align: center
}

.header-bar {
	@include font-normal;
	@include links($navigation-text, $navigation-text);
	padding: 10px 0 0 0;
	margin: 0;
	list-style: none;
  text-shadow: none;
}

.header-bar li {
  @include letterpress($naviation-inset);
  float: left;
  padding: 5px;
  background-color: $naviation-background;
  line-height: 1.1em;
}

.header-bar li:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.title-bar {
	@include font-medium;
	clear: both;
  padding: 5px;
  font-size: 30px;
}

.publish-info {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 18px;
  padding-left: 3px;
}
.post-title {
  margin-bottom: 0px;
  line-height: 34px;
}

.project-links {
  @include font-small;
  list-style: none;
  padding: 2px 0 0 0;
  border: 1px solid $soft-border-color;
  border-width: 0 0 1px 0;
  margin: 5px 0;
}
.project-links li {
  display: inline-block;
  padding-left: 10px;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: $text-color;
}

//little tag bubbles
.post-date {
  @include bubble($date-background, $date-text, $date-inset);
}

a.tag {
  @include bubble($tag-background, $tag-text, $tag-inset);
}

//icon links
.source {
  @include icon('/images/site-icons/github-16x16.png', 18px);
}
.website {
  @include icon('/images/site-icons/website-16x16.png', 18px);
}

.rdio-icon {
  @include icon-only('/images/site-icons/rdio-24x24.png', 24px);
}
.twitter-icon {
  @include icon-only('/images/site-icons/twitter-24x24.png', 24px);
}
.lastfm-icon {
  @include icon-only('/images/site-icons/lastfm-24x24.png', 24px);
}
.github-icon {
  @include icon-only('/images/site-icons/github-24x24.png', 24px);
}
.pinboard-icon {
  @include icon-only('/images/site-icons/pinboard-24x24.png', 24px);
}
.google-plus-icon {
  @include icon-only('/images/site-icons/google+-24x24.png', 24px);
}

//page navigation
.page-nav {
  width: 100%;
}

.next-item {
  float: right;
}

.previous-item {
  float: left;
}

#footer {
  margin-bottom: 10px;
}

.footer-text {
  float: left;
}

.footer-icons {
  float: right;
}

/* stream styles */
.links {
  ul {
    padding:0; 
    list-style: none;
  }
  li {
    padding: 0; 
    margin: 0;
    overflow: hidden; 
    height: 1.5em;
  }
}
.links .hover {
  @include bubble($link-bubble-background, $link-color, $link-bubble-inset);
  @include box-shadow(8px, rgba(0, 0, 0, .7)); 
  position: absolute;
  height: auto;
  overflow: visible;
  z-index:1000;
  margin-top: -2px;
  margin-left: -3px;
}
.hover a, .hover a:visited, .hover a:hover {
  color: $link-color;
  text-decoration: none;
}

.twitter-meta {
  font-size: 11px;
  line-height: 13px;
  text-indent: 10px;
}

#pinboard, #twitter { 
  list-style: none;
  padding: 0;
}
#pinboard li, #twitter li {
  margin: 10px 0;
}

.time-ago {
  display: inline-block;
  text-align: right;
  width: 50px
}
.link-list {
  list-style:none;
  padding: 0;
  margin: 0;
  li {
    padding: 0; 
    margin: 0;
    overflow: hidden;
    height: 1.5em;
  }
}

.ankh h2 {
  margin-bottom: 5px;
}
