/* line 40, ../sass/_layout.sass */
article {
  max-width: 800px;
  width: 70%;
  padding: 5px 50px;
  margin: 20px auto 0 auto;
}
/* line 46, ../sass/_layout.sass */
article h1, article .article-details {
  text-align: center;
  margin-bottom: 5px;
}
/* line 50, ../sass/_layout.sass */
article .details {
  color: #444444;
}

/* line 106, ../sass/_markdown.sass */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.45em;
}

/* line 115, ../sass/_markdown.sass */
h1, h2, h3, .article-details {
  font-family: "Gentium Basic", serif;
  font-weight: normal;
}

/* line 119, ../sass/_markdown.sass */
h1 {
  font-size: 2.3em;
}

/* line 122, ../sass/_markdown.sass */
h2 {
  font-size: 1.8em;
  margin-bottom: 0.4em;
}

/* line 126, ../sass/_markdown.sass */
h3 {
  font-size: 1.2em;
}

/* line 131, ../sass/_markdown.sass */
a {
  text-decoration: none;
  color: #0a476a;
  font-weight: normal;
}
/* line 136, ../sass/_markdown.sass */
a:hover {
  text-decoration: underline;
}
/* line 139, ../sass/_markdown.sass */
a:active {
  outline: 0;
}

/* line 143, ../sass/_markdown.sass */
b, .emphasize {
  font-weight: bold;
}

/* line 146, ../sass/_markdown.sass */
i, .italic {
  font-style: italic;
}

/* line 150, ../sass/_markdown.sass */
pre, code {
  background-color: #f0f0e7;
  border: 1px solid #c9c9a9;
  border-radius: 4px;
  width: 90%;
  margin: 0.5em auto;
  overflow: auto;
}

/* line 158, ../sass/_markdown.sass */
pre > code {
  border: none;
  background-color: none;
  font-size: 0.9em;
}

/* line 164, ../sass/_markdown.sass */
p {
  margin-top: 1em;
}
/* line 167, ../sass/_markdown.sass */
p:last-of-type {
  margin-bottom: 1em;
}

/* line 170, ../sass/_markdown.sass */
blockquote {
  background-color: #f0f0e7;
  padding: 0.2em;
}

/* line 174, ../sass/_markdown.sass */
hr {
  border: none;
  border-top: 1px solid #c9c9a9;
  width: 90%;
  margin: auto;
}

/* line 180, ../sass/_markdown.sass */
article img {
  border: 1px solid #c9c9a9;
  padding: 3px;
  display: inline-block;
  margin: 0 3px;
}

/* line 19, ../sass/_app.sass */
.list-inline {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 24, ../sass/_app.sass */
.list-inline li {
  padding: 0;
  margin-left: 0.8em;
  display: inline-block;
}
/* line 29, ../sass/_app.sass */
.list-inline li:first-child {
  margin-left: 0;
}

/* line 55, ../sass/_app.sass */
.media {
  margin: 10px;
}
/* line 58, ../sass/_app.sass */
.media, .media .body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}
/* line 63, ../sass/_app.sass */
.media .image {
  float: left;
  margin-right: 10px;
}
/* line 67, ../sass/_app.sass */
.media .imageExt {
  float: right;
  margin-left: 10px;
}

/* line 1, ../sass/_tags.sass */
.tag-python {
  color: #008f00;
}

/* line 4, ../sass/_tags.sass */
.tag-ruby {
  color: #941200;
}

/* line 7, ../sass/_tags.sass */
.tag-php {
  color: #625a93;
}

/* line 3, ../sass/_theme.sass */
body {
  background-color: #fafaf7;
  padding: 0;
  margin: 0;
}
/* line 8, ../sass/_theme.sass */
body > footer {
  text-align: center;
  margin: 6px;
  font-size: 0.9em;
}
/* line 13, ../sass/_theme.sass */
body > header {
  background-color: #0a476a;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 5px 0 9px 9px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a5d7a5), color-stop(33%, #a5d7a5), color-stop(34%, #78bc99), color-stop(66%, #78bc99), color-stop(67%, #398282), color-stop(100%, #398282));
  background-image: -webkit-linear-gradient(top, #a5d7a5 0%, #a5d7a5 33%, #78bc99 34%, #78bc99 66%, #398282 67%, #398282 100%);
  background-image: -moz-linear-gradient(top, #a5d7a5 0%, #a5d7a5 33%, #78bc99 34%, #78bc99 66%, #398282 67%, #398282 100%);
  background-image: -o-linear-gradient(top, #a5d7a5 0%, #a5d7a5 33%, #78bc99 34%, #78bc99 66%, #398282 67%, #398282 100%);
  background-image: linear-gradient(top, #a5d7a5 0%, #a5d7a5 33%, #78bc99 34%, #78bc99 66%, #398282 67%, #398282 100%);
}
/* line 14, ../sass/_theme.sass */
body > header, body > header a, body > header a:visited, body > header a:hover {
  color: white;
  font-size: 1.3em;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 2px 1px;
  font-weight: 300;
}
/* line 20, ../sass/_theme.sass */
body > header a:hover {
  font-weight: normal;
  text-decoration: none;
}
/* line 24, ../sass/_theme.sass */
body > header li {
  text-align: center;
}
/* line 36, ../sass/_theme.sass */
body > header img {
  position: absolute;
  right: 10px;
  top: 2px;
}
