/* line 41, ../../scss/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../../scss/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../../scss/grid.scss */
body:after {
  clear: both;
}

/* line 9, ../../scss/stream.scss */
body {
  background-color: #fafaf1;
}

/* line 15, ../../scss/stream.scss */
.feeds li {
  padding: 0;
  margin: 0;
  height: 26px;
  overflow: hidden;
}

/* line 24, ../../scss/stream.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 30, ../../scss/stream.scss */
h2 {
  text-align: center;
}

/* line 34, ../../scss/stream.scss */
.stream {
  margin: 0 5px;
}

/* line 38, ../../scss/stream.scss */
.feed-title {
  display: none;
}

@media all and (min-width: 980px) {
  /* line 43, ../../scss/stream.scss */
  body {
    background-color: #0a476a;
  }

  /* line 46, ../../scss/stream.scss */
  .feeds {
    display: block;
    width: 980.0px;
    margin: 0 -10px;
    *zoom: 1;
    margin: 0;
    width: 100%;
  }
  /* line 27, ../../scss/grid.scss */
  .feeds:before, .feeds:after {
    content: "";
    display: table;
  }
  /* line 31, ../../scss/grid.scss */
  .feeds:after {
    clear: both;
  }

  /* line 52, ../../scss/stream.scss */
  .feed-title {
    display: inline;
  }

  /* line 56, ../../scss/stream.scss */
  .other-links {
    display: block;
    width: 980.0px;
    margin: 0 -10px;
    *zoom: 1;
    margin: 0;
    width: 100%;
  }
  /* line 27, ../../scss/grid.scss */
  .other-links:before, .other-links:after {
    content: "";
    display: table;
  }
  /* line 31, ../../scss/grid.scss */
  .other-links:after {
    clear: both;
  }

  /* line 62, ../../scss/stream.scss */
  .stream {
    background-color: #fafaf1;
    margin: 20px auto;
    width: 980px;
    padding: 0 10px;
    -webkit-box-shadow: #333333 1px 1px 6px;
    -moz-box-shadow: #333333 1px 1px 6px;
    box-shadow: #333333 1px 1px 6px;
  }

  /* line 70, ../../scss/stream.scss */
  .feed {
    display: inline;
    float: left;
    width: 300px;
    margin: 0 10px;
    position: relative;
  }

  /* line 74, ../../scss/stream.scss */
  .interest-links {
    display: inline;
    float: left;
    width: 620px;
    margin: 0 10px;
  }

  /* line 78, ../../scss/stream.scss */
  .pinboard {
    display: inline;
    float: left;
    width: 300px;
    margin: 0 10px;
  }
  /* line 81, ../../scss/stream.scss */
  .pinboard li {
    margin-bottom: 10px;
  }
}
/* line 88, ../../scss/stream.scss */
.feed .link-card {
  overflow: auto;
  height: auto;
  position: absolute;
  padding: 3px;
  background-color: #fff;
  margin-top: -3px;
  margin-left: -3px;
  -webkit-box-shadow: #333333 1px 1px 6px;
  -moz-box-shadow: #333333 1px 1px 6px;
  box-shadow: #333333 1px 1px 6px;
  border-radius: 2px;
}
/* line 100, ../../scss/stream.scss */
.feed .link-card + li {
  margin-top: 26px;
}
/* line 103, ../../scss/stream.scss */
.feed .link-card:first-child {
  margin-top: -29px;
}
/* line 106, ../../scss/stream.scss */
.feed .link-card:first-child + li {
  margin-top: 46px;
}
