{% extends "_tpls/page-lab.html" %}
{% set current_page = "downloads" %}
{% block title %}downloads{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<h1>Downloads</h1>
<p>Here are some wallpapers I've generated over the years. All of them are 4k in 16:9.</p>

<h2>Generative Art</h2>
<p>These were made while following along with <a href="https://frontendmasters.com/courses/canvas-webgl/">Creative Coding with Canvas &amp; WebGL</a>

<figure>
  <a href="/images/art/sketch-28463.png">
    <img src="{{ "images/art/sketch-28463.png"|preview }}" >
  </a>
    <figcaption>&blk12; - 28463</figcaption>
</figure>

<figure>
  <a href="/images/art/sketch-269741.png">
    <img src="{{ "images/art/sketch-269741.png"|preview }}" >
  </a>
  <figcaption>+--+ - 269741</figcaption>
</figure>

<figure>
  <a href="/images/art/sketch-632465.png">
    <img src="{{ "images/art/sketch-632465.png"|preview }}" >
  </a>
  <figcaption> &boxHD;&boxHU; - 632465</figcaption>
</figure>

<figure>
  <a href="/images/art/sketch-659876.png">
    <img src="{{ "images/art/sketch-659876.png"|preview }}" >
  </a>
  <figcaption>(( - 659876</figcaption>
</figure>

<h2>Mandelbrots</h2>
<p>These were created with a simple mandelbrot script written in python.</p>
<figure>
  <a href="/images/art/mandelbrot_4k_lightning.png">
    <img src="{{ "images/art/mandelbrot_4k_lightning.png"|preview }}" >
  </a>
  <figcaption>Lightning</figcaption>
</figure>

<figure>
  <a href="/images/art/mandelbrot_4k_night.png">
    <img src="{{ "images/art/mandelbrot_4k_night.png"|preview }}" >
  </a>
  <figcaption>Night</figcaption>
</figure>

<figure>
  <a href="/images/art/mandelbrot_4k_mandelspin.png">
    <img src="{{ "images/art/mandelbrot_4k_mandelspin.png"|preview }}" >
  </a>
  <figcaption>Mandelspin</figcaption>
</figure>

<figure>
  <a href="/images/art/mandelbrot_4k_midnight.png">
    <img src="{{ "images/art/mandelbrot_4k_midnight.png"|preview }}" >
  </a>
  <figcaption>Midnight</figcaption>
</figure>
{% endblock %}


{% block javascript %} {% endblock %}
