{% extends "_tpls/page-lab.html" %}
{% set current_page = "lab" %}
{% block title %}Lab{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<h1>labs - random fun</h1>
<p>Here you can find some randome experiments. Some things are only partially
working. Use the nav links above to explore.
{% endblock %}


{% block javascript %} {% endblock %}
