body {
	font-size:16px;
}
.resume {margin-top:30px}
#section-headings {
	text-align:center
}
#section-headings li {
	display:inline;
	list-style:none;
	cursor:pointer;
}

#sections {
	width:2500px;
	position:relative;
}
#sections > div {
	margin:0;
	margin-right:5px;
	width:620px;
	float:left;
}
#scroller {
	width:620px;
	overflow:hidden;
	/* needed for <IE7 overflow hidden issue */
	position:relative;
}

h1, h2 {font-family: 'Nobile', sans-serif;}
#section-headings {
	font-family: 'Nobile';
	font-size:20px;
	margin-bottom:10px;
}
.name {
	font-size:39px;
	margin-bottom:0px
}
.contact-info {
	color:#888;
	font-size:20px;
	font-family: 'Nobile';
	font-weight:normal;
	margin-bottom:0
}
h4,#education li{
	color:#888;
	font-size:16px;
	font-family: 'Nobile';
	font-weight:normal;
	margin-bottom:0
}
#education ul {list-style:none}
h2 {margin-bottom:0px}
p {text-indent:15px}
#experience ul {
	list-style: disc outside none !important;
	margin-bottom:5px;
}
.print-header {display:none}
.align-left {float:left; width:48%}
.align-right {float:right; width:48%}
h3 {
	font-family: 'Nobile';
	font-weight:normal;
	border-bottom:2px solid #eee;
	margin-top:10px;
	margin-bottom:0px;
	clear:both;
}
.selected {border-bottom:2px solid #0a0}
hr {display:none}
#print-about {display:none}
.section-container {display:none}
