{% extends "_tpls/base.html.j2" %}
{% set current_page = "about" %}
{% set current_page_sub_title = "about" %}

{% block title %}About{% endblock %}

{% block head %}
<style>
  .things {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    list-style: disc;
    margin-left: 16px;
    margin-bottom: 32px;
  }

  .things li {
    display: flex;
    align-items: center;
  }

  .icon {
    height: 24px;
    margin-right: 8px;
  }

  .emojicon {
    font-size:24px;
    margin-right: 8px;
  }

  p {
    margin: 32px 0;
  }
</style>
{% endblock %}

{% block content %}
<h1>My name is JD. I currently work as a software engineer at <a href="https://www.opendoor.com">opendoor.com</a>.</h1>

<p>This site is mostly my digital playground and collecting place for me to
share random things with people. Here are some random bullet points about
me:</p>

<h2>Life</h2>
<ul class="things">
  <li><img class="icon" src="/images/icons/shiba.png"> owned by a shiba inu</li>
  <li><span class="emojicon">🏃</span> trail runner</li>
  <li><span class="emojicon">⌨️</span> programmer</li>
  <li><span class="emojicon">🎸</span> guitarist</li>
  <li><span class="emojicon">📖</span> books</li>
  <li><span class="emojicon">🛸</span> sci fi</li>
  <li><span class="emojicon">🧙‍♂️</span> fantasy</li>
  <li><span class="emojicon">📸</span> photographer</li>
  <li><span class="emojicon">👨‍🍳</span> cook</li>
  <li><span class="emojicon">🍕</span> food</li>
  <li><span class="emojicon">🏞️</span> hike/camp</li>
  <li><span class="emojicon">🎮</span> games</li>
  <li><span class="emojicon">🍿</span> movies</li>
  <li><img class="icon" src="/images/icons/tea-green.png"> tea</li>
  <li>🍫🔥 hot chocolate</ul>
</ul>

<h2>Work</h2>
<ul class="things">
  <li><span class="emojicon">⚙️</span> Design systems</li>
  <li><span class="emojicon">🦊</span> Frontend</li>
  <li><span class="emojicon">✨</span> Sql</li>
  <li>Code Janitor</li>
  <li><span class="emojicon">🐘</span> PHP</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li><span class="emojicon">🐍</span> Python</li>
</ul>


{% endblock %}
