{% extends "_tpls/base.html.j2" %}
{% set current_page = "about" %}
{% set current_page_sub_title = "about" %}
{% block title %}
  About
{% endblock title %}
{% block head %}
  <style>
  .things {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 32px;
    padding: 0;
  }

  .things li {
    display: flex;
    align-items: center;
  }

  .icon {
    width: 24px;
    font-size:24px;
    margin-right: 8px;
  }

  p {
    margin: 32px 0;
  }
  </style>
{% endblock head %}
{% block content %}
  <h1>
    My name is JD. I currently work as a software engineer at <a href="https://customer.io">customer.io</a>.
  </h1>
  <p>
    This site is mostly my digital playground and collecting place for me to
    share random things with people. Here are some random bullet points about
    me:
  </p>
  <h2>Interests</h2>
  <ul class="things">
    <li>
      <img class="icon" alt="pixel shiba inu" src="/images/icons/shiba.png" />
      shiba inu
    </li>
    <li>
      <span class="icon">🏃</span> trail runner
    </li>
    <li>
      <span class="icon">⌨️</span> programmer
    </li>
    <li>
      <span class="icon">🎸</span> music
    </li>
    <li>
      <span class="icon">📖</span> books
    </li>
    <li>
      <span class="icon">🛸</span> sci fi
    </li>
    <li>
      <span class="icon">🧙‍♂️</span> fantasy
    </li>
    <li>
      <span class="icon">📸</span> photographer
    </li>
    <li>
      <span class="icon">👨‍🍳</span> cook
    </li>
    <li>
      <span class="icon">🍕</span> food
    </li>
    <li>
      <span class="icon">🏞️</span> hike/camp
    </li>
    <li>
      <span class="icon">🎮</span> games
    </li>
    <li>
      <span class="icon">🍿</span> movies
    </li>
    <li>
      <img class="icon"
           alt="pixel cup of green tea"
           src="/images/icons/tea-green.png"/>
      tea
    </li>
    <li>🍫🔥 hot chocolate</li>
  </ul>
  <h2>Work</h2>
  <ul class="things">
    <li>
      <span class="icon">⚙️</span> Design systems
    </li>
    <li>
      <span class="icon">🦊</span> Frontend
    </li>
    <li>
      <span class="icon">✨</span> Sql
    </li>
    <li>Code Janitor</li>
    <li>
      <span class="icon">🐘</span> PHP
    </li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>
      <span class="icon">🐍</span> Python
    </li>
    <li>
      <span class="icon">🐿️</span> Go
    </li>
    <li>
      DevOps/SRE
    </li>
    <li>
      Racket
    </li>
  </ul>
{% endblock content %}
