$lightGrey: #fafafa
$grey: #6e6b5e
$lightBlue: #6486C2

//Colors
$fontColor: $grey
$linkColor: $lightBlue
$backgroundColor: $lightGrey

//Grid settings
$gridPadding: 40px

//font families
$serif: "Gentium Basic", serif
$sanSerif: 'Helvetica', sans-serif

