{% set coding = [
  'http://blog.cleancoder.com/atom.xml',
  'http://eli.thegreenplace.net/feed/',
  'http://feeds.feedburner.com/leaverou',
  'http://feeds.feedburner.com/theendeavour',
  'http://feeds2.feedburner.com/stevelosh',
  'http://martinfowler.com/feed.atom',
  'http://meyerweb.com/index.php?feed=rss2&scope=summary',
  'http://nedbatchelder.com/blog/rss.xml',
  'http://rachelbythebay.com/w/atom.xml',
  'http://seenaburns.com/feed.xml',
  'http://www.xanthir.com/blog/atom/',
  'https://blog.acolyer.org/feed/',
  'https://bytes.zone/index.xml',
  'https://drewdevault.com/blog/index.xml',
  'https://heredragonsabound.blogspot.com/feeds/posts/default',
  'https://ianthehenry.com/feed.xml',
  'https://jvns.ca/atom.xml',
  'https://krebsonsecurity.com/feed/',
  'https://lethain.com/feeds.xml',
  'https://localghost.dev/feed.xml',
  'https://ntietz.com/atom.xml',
  'https://research.swtch.com/feed.atom',
  'https://ryanmulligan.dev/blog/feed.xml',
  'https://venam.nixers.net/blog/feed.xml',
  'https://www.hillelwayne.com/post/index.xml',
  'https://www.joshwcomeau.com/rss.xml',
  'https://zignar.net/index.xml',
] %}
{% set gaming = [
  'http://blog.metagames.co.uk/feed/',
  'http://feeds.feedburner.com/ARandomGnomesRandomLair',
  'http://feeds.feedburner.com/RockPaperShotgun',
  'http://feeds.wolfire.com/WolfireGames',
  'http://freegamer.blogspot.com/feeds/posts/default?',
  'http://grumpygamer.com/rss2.0',
  'http://midnightresistance.co.uk/rss.xml',
  'http://rodneylives.blogspot.com/feeds/posts/default?alt=rss',
  'http://www.doshaven.eu/feed/',
  'http://www.filfre.net/feed/',
  'https://distractionware.com/blog/feed/',
  'https://obscuritory.com/feed/',
  'https://setsideb.com/feed',
  'https://www.gridsagegames.com/blog/feed/',
] %}
{% set interests = [
  'http://bastian.rieck.me/blog/index.xml',
  'http://blog.iso50.com/feed/',
  'http://fabiensanglard.net/rss.xml',
  'http://faitherinhicks.tumblr.com/rss',
  'http://feeds.feedburner.com/wwdn',
  'http://feeds2.feedburner.com/PatrickRothfuss',
  'http://scienceblogs.com/startswithabang/feed/',
  'http://www.goodmath.org/blog/feed/',
  'http://www.julian.digital/feed',
  'https://alinpanaitiu.com/index.xml',
  'https://andre.arko.net/atom.xml',
  'https://apenwarr.ca/log/rss.php',
  'https://arun.is/rss.xml',
  'https://billhunt.dev/posts.xml',
  'https://blinry.org/feed/',
  'https://blog.djy.io/atom.xml',
  'https://brandonsanderson.com/feed/',
  'https://cadence.moe/blog/atom.xml?limit=1',
  'https://gwern.substack.com/feed',
  'https://interconnected.org/home/feed',
  'https://maggieappleton.com/rss.xml',
  'https://neil.computer/rss/',
  'https://news.gregjeanneau.com/rss/',
  'https://pietrorea.com/rss.xml',
  'https://popagandhi.com/index.xml',
  'https://tylerxhobbs.com/essays?format=rss',
  'https://winnielim.org/feed/',
  'https://www.aiweirdness.com/rss/',
  'https://www.allendowney.com/blog/feed/',
  'https://www.benkuhn.net/index.xml',
  'https://www.schneier.com/blog/atom.xml',
  'https://www.teamten.com/lawrence/writings/rss.xml',
] %}
{% set art = [
  'http://30000fps.com/rss',
  'http://pixelartus.com/rss',
  'http://www.89a.co.uk/rss',
  'http://www.suppermariobroth.com/rss',
  'https://1041uuu.tumblr.com/rss',
  'https://aestheticvalley.tumblr.com/rss',
  'https://anasabdin.tumblr.com/rss',
  'https://animesignage.tumblr.com/rss',
  'https://awfulland.tumblr.com/rss',
  'https://beesandbombs.tumblr.com/rss',
  'https://carlburton.tumblr.com/rss',
  'https://deathherald.tumblr.com/rss',
  'https://dom2d.tumblr.com/rss',
  'https://dvdp.tumblr.com/rss',
  'https://electronicitems.tumblr.com/rss',
  'https://floppydiskartwork.tumblr.com/rss',
  'https://forgottentomorrows.tumblr.com/rss',
  'https://fornaxvoid.tumblr.com/rss',
  'https://incre-ment.tumblr.com/rss',
  'https://jazzisthebestformofmusic.tumblr.com/rss',
  'https://k141.tumblr.com/rss',
  'https://kidmograph.tumblr.com/rss',
  'https://kirokazepixel.tumblr.com/rss',
  'https://kvebox.tumblr.com/rss',
  'https://lennsan.tumblr.com/rss',
  'https://lvl374.tumblr.com/rss',
  'https://metropoworld.tumblr.com/rss',
  'https://michaelshillingburg.tumblr.com/rss',
  'https://mini-moss.tumblr.com/rss',
  'https://mitsukisanagi.tumblr.com/rss',
  'https://necessary-disorder.tumblr.com/rss',
  'https://neomechanica.tumblr.com/rss',
  'https://obscurevideogames.tumblr.com/rss',
  'https://ofsparrows.tumblr.com/rss',
  'https://pixosprout.tumblr.com/rss',
  'https://prinsomnia.tumblr.com/rss',
  'https://probertson.tumblr.com/rss',
  'https://retroscifiart.tumblr.com/',
  'https://retrowavecollector.tumblr.com/rss',
  'https://sciencefictioninterfaces.tumblr.com/rss',
  'https://setamo-arts.tumblr.com/rss',
  'https://simzart.tumblr.com/',
  'https://solardrifter.tumblr.com/rss',
  'https://text-mode.tumblr.com/rss',
  'https://those-visions-have-no-end.tumblr.com/rss',
  'https://valenberg.tumblr.com/rss',
  'https://viivus.tumblr.com/rss',
  'https://welcometomvrs.tumblr.com/rss',
  'https://www.artstation.com/artist/zomtech.rss',
  'https://yaspes.tumblr.com/rss',
] %}
