{% extends "_tpls/page.html" %}
{% block title %}Things from tumblr{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width">
<style type="text/css">

.content {
  width: 90%;
  max-width: 2015px;
}

.tiles-body {
  list-style: none;
}

.tiles li {
  display: inline-block;
  width: 24%;
  max-width:500px;
  margin-top: 5px;
}

.tiles img {
  width: 100%;
  max-width:500px;
  vertical-align: middle;
}

.offscreen {
  visibility: hidden;
}


</style>
{% endblock %}

{% macro pic(entry) -%}
  {% set entry_image = images(entry.description)|first -%}
  {% if entry_image -%}
    <li class="offscreen">
      <a href="{{entry.link}}">
        <img data-src="{{entry_image}}">
      </a>
    </li>
  {%- endif %}
{%- endmacro %}



{% block content %}

  <div class="readable-content content">
    <ul class="tiles">
      {% for entry in time_sort([
          'https://1041uuu.tumblr.com/rss',
          'http://30000fps.com/rss',
          'https://awfulland.tumblr.com/rss',
          'https://beesandbombs.tumblr.com/rss',
          'https://carlburton.tumblr.com/rss',
          'https://deathherald.tumblr.com/rss',
          'https://dom2d.tumblr.com/rss',
          'https://dvdp.tumblr.com/rss',
          'https://fornaxvoid.tumblr.com/rss',
          'https://k141.tumblr.com/rss',
          'https://kidmograph.tumblr.com/rss',
          'https://kvebox.tumblr.com/rss',
          'https://michaelshillingburg.tumblr.com/rss',
          'https://obscurevideogames.tumblr.com/rss',
          'https://oktotally.tumblr.com/rss',
          'http://pixelartus.com/rss',
          'https://pixosprout.tumblr.com/rss',
          'https://probertson.tumblr.com/rss',
          'http://sketch.bysusanlin.com/rss',
          'https://solardrifter.tumblr.com/rss',
          'https://text-mode.tumblr.com/rss',
          'https://those-visions-have-no-end.tumblr.com/rss',
          'https://valenberg.tumblr.com/rss',
          'https://welcometomvrs.tumblr.com/rss',
          'http://www.89a.co.uk/rss',
          'http://www.suppermariobroth.com/rss',
          'https://animesignage.tumblr.com/rss',
          'https://www.artstation.com/artist/zomtech.rss',
          'https://yaspes.tumblr.com/rss',
          'https://metropoworld.tumblr.com/rss',
          'https://forgottentomorrows.tumblr.com/rss',
          'https://retrowavecollector.tumblr.com/rss',
          ], 10) %}
        {{ pic(entry) }}
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block javascript %}
<script src="/static/gifwindow/gifwindow.js" type="text/javascript"></script>
{% endblock %}
