{% extends "_tpls/base.html.j2" %}
{% set current_page = "stream_pics" %}
{% set current_page_sub_title = "pics" %}
{% block title %}
  Things from tumblr
{% endblock title %}
{% block head %}
  <meta name="viewport" content="width=device-width" />
  <style type="text/css">
    .tiles {
      width: 90vw;
      max-width: 2015px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 16px;
      grid-auto-flow: dense;
      list-style: none;
    }

    .tiles li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 5px;
    }

    .tiles a:hover {
      background: none
    }

    .tiles img {
      max-width:500px;
    }

  </style>
{% endblock head %}

{% macro pic(idx, entry) -%}
  {% if entry.description -%}
    {% set entry_image = images(entry.description)|first -%}
    {% if entry_image -%}
      <li>
        <a href="{{ entry.link }}">
            <img class="image" loading="lazy" src="{{ entry_image }}" />
        </a>
      </li>
    {%- endif %}
  {%- endif %}
{%- endmacro %}

{% block content %}
    <ul class="tiles full">
      {% for entry in time_sort([
        'http://30000fps.com/rss',
        'http://pixelartus.com/rss',
        'http://www.89a.co.uk/rss',
        'http://www.suppermariobroth.com/rss',
        'https://1041uuu.tumblr.com/rss',
        'https://aestheticvalley.tumblr.com/rss',
        'https://anasabdin.tumblr.com/rss',
        'https://animesignage.tumblr.com/rss',
        'https://awfulland.tumblr.com/rss',
        'https://beesandbombs.tumblr.com/rss',
        'https://carlburton.tumblr.com/rss',
        'https://deathherald.tumblr.com/rss',
        'https://dom2d.tumblr.com/rss',
        'https://dvdp.tumblr.com/rss',
        'https://electronicitems.tumblr.com/rss',
        'https://floppydiskartwork.tumblr.com/rss',
        'https://forgottentomorrows.tumblr.com/rss',
        'https://fornaxvoid.tumblr.com/rss',
        'https://jazzisthebestformofmusic.tumblr.com/rss',
        'https://k141.tumblr.com/rss',
        'https://kidmograph.tumblr.com/rss',
        'https://kvebox.tumblr.com/rss',
        'https://lennsan.tumblr.com/rss',
        'https://lvl374.tumblr.com/rss',
        'https://metropoworld.tumblr.com/rss',
        'https://michaelshillingburg.tumblr.com/rss',
        'https://mini-moss.tumblr.com/rss',
        'https://neomechanica.tumblr.com/rss',
        'https://obscurevideogames.tumblr.com/rss',
        'https://ofsparrows.tumblr.com/rss',
        'https://pixosprout.tumblr.com/rss',
        'https://prinsomnia.tumblr.com/rss',
        'https://probertson.tumblr.com/rss',
        'https://retroscifiart.tumblr.com/',
        'https://retrowavecollector.tumblr.com/rss',
        'https://sciencefictioninterfaces.tumblr.com/rss',
        'https://setamo-arts.tumblr.com/rss',
        'https://simzart.tumblr.com/',
        'https://solardrifter.tumblr.com/rss',
        'https://text-mode.tumblr.com/rss',
        'https://those-visions-have-no-end.tumblr.com/rss',
        'https://valenberg.tumblr.com/rss',
        'https://viivus.tumblr.com/rss',
        'https://welcometomvrs.tumblr.com/rss',
        'https://www.artstation.com/artist/zomtech.rss',
        'https://yaspes.tumblr.com/rss',
        'https://incre-ment.tumblr.com/rss',

        ], 10) %}
        {{ pic(loop.index, entry) }}
      {% endfor %}
    </ul>
{% endblock content %}
