{% extends "_tpls/base.html.j2" %}
{% import '_feeds.j2' as feeds %}
{% set current_page = "stream_pics" %}
{% set current_page_sub_title = "pics" %}
{% set generated_date = get_date() %}
{% block title %}
  Things from tumblr
{% endblock title %}
{% block head %}
  <meta name="viewport" content="width=device-width" />
  <style type="text/css">
    .tiles {
      width: 90vw;
      max-width: 2015px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 16px;
      grid-auto-flow: dense;
      list-style: none;
    }

    .tiles li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 5px;
    }

    .tiles a:hover {
      background: none
    }

    .tiles img {
      max-width:500px;
    }

  </style>
{% endblock head %}

{% macro pic(idx, entry) -%}
  {% if entry.description -%}
    {% set entry_image = images(entry.description)|first -%}
    {% if entry_image -%}
      <li>
        <a href="{{ entry.link }}">
            <img class="image" loading="lazy" src="{{ entry_image }}" />
        </a>
      </li>
    {%- endif %}
  {%- endif %}
{%- endmacro %}

{% block content %}
    <ul class="tiles full">
      {% for entry in time_sort(feeds.art, 10) %}
        {{ pic(loop.index, entry) }}
      {% endfor %}
    </ul>
{% endblock content %}
