{% extends "_tpls/page-nostyle.html" %}
{% set current_page = "stream" %}
{% set current_page_sub_title = "stream" %}
{% block title %}Links and Things{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width">
<style type="text/css">


</style>
{% endblock %}

{% macro time_entry(entry) -%}
<li>
  <a href="{{entry.link}}">
    {{entry.title}}
    <span class="link-alt c03">{{entry.feed_title}}
      &ndash;
        {% if entry.time_unit == "New!" %}
        <i class="icon-star"></i> New
        {% else %}
        <i>{{entry.time_length}}</i>
        {{entry.time_unit}}
        {% endif %}
    </span>
</a>
</li>
{% endmacro %}

{% block content %}
    <div class="readable-content content">

      <article>
        <h1 class="c11">
          Lwn.net
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('https://lwn.net/headlines/newrss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle c08">
          Lobste.rs<span class="comment-status"></span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('https://lobste.rs/rss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle c10">
          Hacker News<span class="comment-status"></span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://news.ycombinator.com/rss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle c12">
          r/Programming<span class="comment-status"></span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://www.reddit.com/r/programming/.rss') %}
            <li>
              <a href="{{entry.description|find_link(1)}}" comment-link="{{entry.link}}">{{entry.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="c14">
          Coding
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
              'http://feeds.feedburner.com/theendeavour',
              'http://eli.thegreenplace.net/feed/',
              'http://nedbatchelder.com/blog/rss.xml',
              'http://meyerweb.com/index.php?feed=rss2&scope=summary',
              'http://martinfowler.com/feed.atom',
              'http://blog.cleancoder.com/atom.xml',
              'http://feeds2.feedburner.com/stevelosh',
              'http://www.xanthir.com/blog/atom/',
              'https://jvns.ca/atom.xml',
              'https://blog.acolyer.org/feed/',
              'https://kate.io/feed.xml',
              'https://heredragonsabound.blogspot.com/feeds/posts/default',
              'https://research.swtch.com/feed.atom',
              'http://rachelbythebay.com/w/atom.xml',
              'http://seenaburns.com/feed.xml',
              'http://www.charlesetc.com/index.xml',
              'https://venam.nixers.net/blog/feed.xml',
            ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="c13">
          Gaming
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
            'http://feeds.feedburner.com/RockPaperShotgun',
            'http://www.filfre.net/feed/',
            'http://feeds.wolfire.com/WolfireGames',
            'http://feeds.feedburner.com/ARandomGnomesRandomLair',
            'http://blog.metagames.co.uk/feed/',
            'http://grumpygamer.com/rss2.0',
            'http://midnightresistance.co.uk/rss.xml',
            'http://freegamer.blogspot.com/feeds/posts/default?',
            'http://rodneylives.blogspot.com/feeds/posts/default?alt=rss',
            'http://www.doshaven.eu/feed/',
          ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="c12">
          Interesting Things
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
            'http://www.goodmath.org/blog/feed/',
            'http://feeds2.feedburner.com/PatrickRothfuss',
            'http://feeds.feedburner.com/wwdn',
            'http://blog.iso50.com/feed/',
            'http://chiptuneswin.com/blog/feed/',
            'http://scienceblogs.com/startswithabang/feed/',
            'http://faitherinhicks.tumblr.com/rss',
            'http://fabiensanglard.net/rss.xml',
            'https://brandonsanderson.com/feed/',
            'https://www.schneier.com/blog/atom.xml'
          ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="c11">
          Pinboard
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://feeds.pinboard.in/rss/u:jdcantrell', 10) %}
          <li>
          <a href="{{entry.link}}">
            {{entry.title}}
            {% if entry.description %}
            <span class="link-alt c03">{{entry.description}}</span>
            {% endif %}
          </a>
          </li>
          {% endfor %}
        </ul>
      </article>

    </div>


    <div class="friend-link">
      <ul class="list-inline" style="float:left">
        {% for weather in get_weather([
          (45.52, -122.6819),
          (43.6167, -116.2),
          (38.7453, -94.8292)
        ]) %}
        <li title="{{ weather.condition() }}">
          {{ weather.temp() }}&deg; in {{ weather.forecast_location() }}
        {% endfor %}
      </ul>

      {% set logs = log() %}
      {% if logs %}
        <div style="margin:auto;color:rgb(203,77,40);width:100px">&nbsp;Check console :-(</div>
        <script>
          console.log('Begin ankh log');
          console.group();
        {% for log in logs.split("\n") %}
          console.log('{{ log|replace("'", "\\'")|safe }}')
        {% endfor %}
          console.groupEnd();
        </script>
      {% else %}
         <br>
      {% endif %}
    </div>


{% endblock %}

{% block javascript %}
<script>

  var toggleLinks = function (event)
  {
    //swap links
    var links = this.nextElementSibling.querySelectorAll('[comment-link]');
    var el, href, comment, original, idx;
    var showingComments = false;
    for (idx = 0; idx < links.length; ++idx) {
      el = links[idx];

      href = el.getAttribute('href');
      comment = el.getAttribute('comment-link');
      original = el.getAttribute('original-link');

      if (original === null) {
        el.setAttribute('original-link', href)
        original = href
      }

      if (comment === href) {
        el.setAttribute('href', original)
      }
      else {
        el.setAttribute('href', comment);
        showingComments = true;
      }
    }

    //swap icons
    var $i = this.querySelectorAll('.comment-status')[0];
    if (showingComments) {
      $i.innerHTML = '[comments]';
    }
    else {
      $i.innerHTML = '';
    }
  }

  document.addEventListener('DOMContentLoaded', function (event) {
    var i, toggles = document.querySelectorAll('.js-link-toggle');
    for (i = 0; i < toggles.length; ++i) {
      toggles[i].addEventListener('click', toggleLinks);
    }
  });
</script>
{% endblock %}
