{% extends "_tpls/page-clean.html.j2" %}
{% set current_page = "stream" %}
{% set current_page_sub_title = "stream" %}
{% block title %}Links and Things{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width">
<style type="text/css">
  h1 > span:first-child {
    padding: 3px 1.4ch;
  }

  .js-link-toggle span {
    cursor: pointer;
  }

  .list-bullets {
    list-style: none;
  }
  .list-bullets li {
    margin: 4px 0;
  }
  .list-bullets li:before {
    vertical-align: top;
    content: '>';
    margin-left: -2ch;
    color: #b8d7cb;
  }
  .list-bullets li:hover:before {
    color: #0a7f53;
  }
  .link-alt {
    display: block;
    font-size: 12px;
  }
</style>
{% endblock %}

{% macro time_entry(entry) -%}
<li>
  <a href="{{entry.link}}">
    {{entry.title}}
    <span class="link-alt c07">{{entry.feed_title}}
      &ndash;
        {% if entry.time_unit == "New!" %}
        <i class="icon-star"></i> New
        {% else %}
        <i>{{entry.time_length}}</i>
        {{entry.time_unit}}
        {% endif %}
    </span>
</a>
</li>
{% endmacro %}

{% block content %}
    <div class="readable-content content">

      <article>
        <h1 >
          <span class="bg-c09 c08">Lwn.net</span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('https://lwn.net/headlines/newrss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle">
          <span class="bg-c02 c01">Lobste.rs<span class="comment-status"></span></span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('https://lobste.rs/rss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle">
          <span class=" bg-c04 c03">Hacker News<span class="comment-status"></span></span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://news.ycombinator.com/rss') %}
          <li>
            <a href="{{entry.link}}" comment-link="{{entry.comments}}">{{entry.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1 class="js-link-toggle">
          <span class="bg-c11 c10">
            r/Programming<span class="comment-status"></span>
          </span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://www.reddit.com/r/programming/.rss') %}
            <li>
              <a href="{{entry.description|find_link(1)}}" comment-link="{{entry.link}}">{{entry.title}}</a>
            </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1>
          <span  class="bg-c15 c14">Coding</span>
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
              'http://feeds.feedburner.com/theendeavour',
              'http://eli.thegreenplace.net/feed/',
              'http://nedbatchelder.com/blog/rss.xml',
              'http://meyerweb.com/index.php?feed=rss2&scope=summary',
              'http://martinfowler.com/feed.atom',
              'http://blog.cleancoder.com/atom.xml',
              'http://feeds2.feedburner.com/stevelosh',
              'http://www.xanthir.com/blog/atom/',
              'https://jvns.ca/atom.xml',
              'https://blog.acolyer.org/feed/',
              'https://heredragonsabound.blogspot.com/feeds/posts/default',
              'https://research.swtch.com/feed.atom',
              'http://rachelbythebay.com/w/atom.xml',
              'http://seenaburns.com/feed.xml',
              'http://www.charlesetc.com/index.xml',
              'https://venam.nixers.net/blog/feed.xml',
              'https://drewdevault.com/blog/index.xml',
            ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1>
          <span class="bg-c17 c16">
            Gaming
          </span>
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
            'http://feeds.feedburner.com/RockPaperShotgun',
            'http://www.filfre.net/feed/',
            'http://feeds.wolfire.com/WolfireGames',
            'http://feeds.feedburner.com/ARandomGnomesRandomLair',
            'http://blog.metagames.co.uk/feed/',
            'http://grumpygamer.com/rss2.0',
            'http://midnightresistance.co.uk/rss.xml',
            'http://freegamer.blogspot.com/feeds/posts/default?',
            'http://rodneylives.blogspot.com/feeds/posts/default?alt=rss',
            'http://www.doshaven.eu/feed/',
            'https://www.gridsagegames.com/blog/feed/',
            'https://obscuritory.com/feed/',
          ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1>
          <span class="bg-c09 c08">
            Interesting Things
          <span>
        </h1>
        <ul class="list-bullets">
          {% for entry in time_sort([
            'http://www.goodmath.org/blog/feed/',
            'http://feeds2.feedburner.com/PatrickRothfuss',
            'http://feeds.feedburner.com/wwdn',
            'http://blog.iso50.com/feed/',
            'http://scienceblogs.com/startswithabang/feed/',
            'http://faitherinhicks.tumblr.com/rss',
            'http://fabiensanglard.net/rss.xml',
            'https://brandonsanderson.com/feed/',
            'https://www.schneier.com/blog/atom.xml',
            'https://tylerxhobbs.com/essays?format=rss',
            'https://www.teamten.com/lawrence/writings/rss.xml'
          ]) %}
            {{ time_entry(entry) }}
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1>
          <span class="bg-c11 c10">
            Pinboard
          </span>
        </h1>
        <ul class="list-bullets">
          {% for entry in get_entries('http://feeds.pinboard.in/rss/u:jdcantrell', 10) %}
          <li>
          <a href="{{entry.link}}">
            {{entry.title}}
            {% if entry.description %}
            <span class="link-alt c07">{{entry.description}}</span>
            {% endif %}
          </a>
          </li>
          {% endfor %}
        </ul>
      </article>

      <article>
        <h1>
          <span class="bg-c15 c14">
            Weather
          </span>
        </h1>
        <ul class="list-bullets">
          {% for weather in get_weather([
            (37.99167, -122.05194),
            (37.61961, -122.36558),
            (43.6167, -116.2),
            (38.7453, -94.8292),
            (44.05782,-121.31537),
            (45.52, -122.6819),
          ]) %}
          <li title="{{ weather.condition() }}">
            {{ weather.temp() }}&deg; and {{ weather.condition() }} at {{ weather.forecast_location() }}
          {% endfor %}
        </ul>
      </article>
      <div style="text-align:center">Last Updated on {{date.strftime("%b %d at %I:%M:%S %p") }}</div>
    </div>

      {% set logs = log() %}
      {% if logs %}
        <style>
          details {
            border: 2px solid transparent;
            transition: all .3s ease-in;
          }
          details ul {
            padding: 8px;
          }
          details[open] {
            border: 2px solid #9f9f9f;
            box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
            border-radius: 3px;

          }
          details > summary {
            list-style: none;
            text-align: center;
            outline: none;
            cursor: pointer;
          }
          details > summary::before {
            content: '';
            width: 24px;
            height: 24px;
            position: relative;
            background-image: url(/images/icons/errorbot.png);
            background-size: cover;
            display: inline-block;
            margin-right: 4px;
            top: 5px;
          }
        </style>
        <details>
          <summary>errorbot reports some errors :-(</summary>
            <ul>
              {% for log in logs.split("\n") %}
              <li>{{ log|safe }}</li>
              {% endfor %}
            </ul>
        </details>
      {% endif %}


{% endblock %}

{% block javascript %}
<script>

  var toggleLinks = function (event)
  {
    //swap links
    var links = this.nextElementSibling.querySelectorAll('[comment-link]');
    var el, href, comment, original, idx;
    var showingComments = false;
    for (idx = 0; idx < links.length; ++idx) {
      el = links[idx];

      href = el.getAttribute('href');
      comment = el.getAttribute('comment-link');
      original = el.getAttribute('original-link');

      if (original === null) {
        el.setAttribute('original-link', href)
        original = href
      }

      if (comment === href) {
        el.setAttribute('href', original)
      }
      else {
        el.setAttribute('href', comment);
        showingComments = true;
      }
    }

    //swap icons
    var $i = this.querySelectorAll('.comment-status')[0];
    if (showingComments) {
      $i.innerHTML = '[comments]';
    }
    else {
      $i.innerHTML = '';
    }
  }

  document.addEventListener('DOMContentLoaded', function (event) {
    var i, toggles = document.querySelectorAll('.js-link-toggle');
    for (i = 0; i < toggles.length; ++i) {
      toggles[i].addEventListener('click', toggleLinks);
    }
  });
</script>
{% endblock %}
