<!DOCTYPE html>
<html>
  <head>
    <title>Links and Things</title>
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="http://static.goodrobot.net/gxl/gxl.min.css">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>


    <link rel="icon" type="image/png" href="http://static.goodrobot.net/cdn/favicon.png">

    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="en" />
    <style type="text/css">

      /* custom stuff */
      a.comment {
        width: 70px;
        text-align: center;
        font-size: 30px;
        vertical-align: middle;
      }

      .time-ago {
        padding: .5em 0;
        width: 64px;
        display: table-cell;
        text-align: center;
      }
      .time-ago i{
        font-size: 35px;
        display: block;
      }

      /* overrides and tweaks */
      .touch {
        margin-bottom: 35px;
      }
      .touch-list li a:first-child, .touch-table li a:first-child {
        padding-left: .5em;
      }

      .touch::last-child {
        margin-bottom: 0
      }

      .friend-link {
        font-size: 12px;
        text-align: right;
      }

      .no-icon { display: none }

    </style>
  </head>
  <body>

{% macro time_entry(entry) -%}
<li>
  <a href="{{entry.link}}">
    {{entry.title}}
    <span>{{entry.feed_title}}</span>
</a>
  <span class="text-fade time-ago">
    {% if entry.time_unit == "New!" %}
    <i class="icon-star"></i>
    {% else %}
    <i>{{entry.time_length}}</i>
    {{entry.time_unit}}
    {% endif %}
  </span>
</li>
{% endmacro %}

{% macro weather_icon(text) -%}
  {% if text == 'NA' %}no-icon{% endif %}
  {% if text == 'Fair' %}icon-sun{% endif %}
  {% if text == 'A Few Clouds' %}icon-cloud-sun{% endif %}
  {% if text == 'Overcast' %}icon-cloud{% endif %}
  {% if text == 'Mostly Cloudy' %}icon-cloud{% endif %}
  {% if text == 'Partly Cloudy' %}icon-cloud-sun{% endif %}
{% endmacro %}


    <header class="goodrobot-header">
      <ul class="list-inline">
        <li><a href="/pages/about">About</a>
        <li><a href="/">Blog</a>
        <li><a href="/stream">Links</a>
        <li><a href="/pages/projects">Projects</a>
      </ul>
      <a href="http://goodrobot.net">
        <img src="http://static.goodrobot.net/gxl/images/goodrobot.png" alt="goodrobot.net">
      </a>
    </header>

    <div class="readable-content content">
      <h2 class="hr-fancy">Lobste.rs</h2>
      <ul class="touch touch-table">
        {% for entry in get_entries('https://lobste.rs/rss') %}
        <li>
          <a href="{{entry.link}}">{{entry.title}}</a>
          <a class="comment" href="{{entry.comments}}">
            <i class="icon-comment"></i>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Hacker News</h2>
      <ul class="touch touch-table">
        {% for entry in get_entries('http://news.ycombinator.com/rss') %}
        <li>
          <a href="{{entry.link}}">{{entry.title}}</a>
          <a class="comment" href="{{entry.comments}}">
            <i class="icon-comment"></i>
          </a>
        </li>
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Reddit/Programming</h2>
      <ul class="touch touch-table">
        {% for entry in get_entries('http://www.reddit.com/r/programming/.rss') %}
          <li>
            <a class="link" href="{{entry.description|find_link(1)}}">{{entry.title}}</a>
            <a class="comment" href="{{entry.link}}">
              <i class="icon-comment"></i>
            </a>
          </li>
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Coding</h2>
      <ul class="touch touch-table">
        {% for entry in time_sort([
            'http://lambda-the-ultimate.org/rss.xml',
            'http://www.littlehart.net/atthekeyboard/feed/',
            'http://feeds.feedburner.com/theendeavour',
            'http://eli.thegreenplace.net/feed/',
            'http://nedbatchelder.com/blog/rss.xml',
            'http://meyerweb.com/index.php?feed=rss2&scope=summary',
            'http://www.codeofhonor.com/blog/feed',
            'http://feeds.feedburner.com/alistapart/main'
          ]) %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Gaming</h2>
      <ul class="touch touch-table">
        {% for entry in time_sort([
          'http://feeds.feedburner.com/RockPaperShotgun',
          'http://gamestorm.tumblr.com/rss',
          'http://feeds.feedburner.com/VenusPatrol',
          'http://feeds.wolfire.com/WolfireGames',
          'http://feeds.feedburner.com/ARandomGnomesRandomLair',
          'http://blog.metagames.co.uk/feed/',
          'http://grumpygamer.com/rss2.0',
          'http://midnightresistance.co.uk/rss.xml',
          'http://freegamer.blogspot.com/feeds/posts/default?'
        ]) %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Art and Interests</h2>
      <ul class="touch touch-table">
        {% for entry in time_sort([
          'http://www.goodmath.org/blog/feed/',
          'http://feeds.feedburner.com/wwdn',
          'http://blog.iso50.com/feed/',
          'http://blog.gamemusicbundle.com/rss',
          'http://magicalgametime.com/rss',
          'http://feeds.feedburner.com/blowatlife',
          'http://simoncottee.blogspot.com/feeds/posts/default',
          'http://oktotally.tumblr.com/rss',
          'http://priceonomics.com/latest.rss'
        ]) %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Friends and Families</h2>
      <ul class="touch touch-table">
        {% for entry in time_sort([
          'http://www.michaellesko.net/blog/?feed=rss2',
          'http://whatupderek.com/rss',
          'http://sketch.bysusanlin.com/rss',
          'http://pwnguin.net/rss20.xml'
        ]) %}
          {{ time_entry(entry) }}
        {% endfor %}
      </ul>

      <h2 class="hr-fancy">Pinboard</h2>
      <ul class="touch touch-list">
        {% for entry in get_entries('http://feeds.pinboard.in/rss/u:jdcantrell', 10) %}
        <li>
        <a href="{{entry.link}}">
          {{entry.title}}
          {% if entry.description %}
            <span>{{entry.description}}</span>
          {% endif %}
        </a>
        </li>
        {% endfor %}
      </ul>
      <div class="friend-link">
        <ul class="list-inline" style="float:left">
          {% for weather in get_weather([
            (37.91583, -122.03583),
            (45.52, -122.6819),
            (43.6167, -116.2),
            (38.7453, -94.8292)
          ]) %}
          <li title="{{ weather.condition() }}"><i class="{{ weather_icon(weather.condition()) }}"></i>{{ weather.temp() }}&deg; in {{ weather.forecast_location() }}
          {% endfor %}
        </ul>

        <div style="float:right">
          Need to monitor some crons? Use <a href="https://cronitor.io/">Cronitor.io</a>
        </div>
        <br>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52799217-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
