{% extends "_tpls/page-clean.html.j2" %}
{% set current_page = "motd" %}
{% set current_page_sub_title = "motd" %}
{% set header_icon = "/images/icons/shiba.png" %}
{% block title %}motd - mango of the day{% endblock %}
{% block head %}
  <style>
    pre {
      border: none;
      background-color: transparent;
      color: #6210b5;
      line-height: 1;
    }
    @media (max-width: 746px) {
      pre {
        font-size: calc((100vw - 32px) / 28);
      }
    }
  </style>
{% endblock %}


{% block meta %}
  <meta property="og:site_name" content="motd on goodrobot.net">
  <meta property="og:url" content="https://goodrobot.net/motd/">
  <meta property="og:image" content="https://goodrobot.net/images/motd/{{ image }}">
  <meta property="og:title" content="mango of the day - {{ title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@goodrobot_jd">
  <meta name="twitter:image" content="https://goodrobot.net/images/motd/{{ image }}">
  <link type="application/atom+xml" rel="alternate" href="atom.xml">
{% endblock %}

{% block content %}
<pre id="message">
Welcome to goodrobot.net/motd - mango of the day!

███╗   ███╗ █████╗ ███╗   ██╗ ██████╗  ██████╗
████╗ ████║██╔══██╗████╗  ██║██╔════╝ ██╔═══██╗
██╔████╔██║███████║██╔██╗ ██║██║  ███╗██║   ██║
██║╚██╔╝██║██╔══██║██║╚██╗██║██║   ██║██║   ██║
██║ ╚═╝ ██║██║  ██║██║ ╚████║╚██████╔╝╚██████╔╝
╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝  ╚═════╝
Mango of the day -~**~- Photos of a Shiba Inu!!

Today:.............: {{ motd_date }}
Puptime............: {{ motd_uptime }}
Bark Averages......: 0.00, 0.00, 0.01 (1, 5, 15 min)
Free Toy Space.....: 964689k (92% used)
Fluff..............: 100% Fluffy

Loading latest image, please wait...
</pre>
  <article id="photo" class="photo-card-irix">
    <header class="flex-container row">
      <h3 class="flex-1">
        ~ {{ title }} ~
      </h3>
    </header>
    <figure class="flex-container">
      <img alt="A shiba inu - {{ title }}" src="/images/motd/{{ image }}">
    </figure>
    <footer class="flex-container row" style="justify-content: space-between">
      <a href="./{{ date }}.html"><time datetime="{{ date }}" class="flex-1">{{ date }}</time></a>
      <button class="irix-button puff">
        <img src="/images/heart.png" width="20" height="20">
      </button>
    </footer>
  </article>
  <ul class="list-inline">
    <li><a title="see motd animation again" id="reconnect" href="#">Reconnect ^^</a></li>
    <li><a href="/motd/all.html">See more doge >></a></li>
    {% if motd_previous is defined %}
    <li><a href="/motd/{{ motd_previous }}">Yesterday >></a></li>
    {% endif %}
    <li><a href="/motd/atom.xml">RSS</a></li>
  </ul>
  <script>
    const characterRate = 120 / 1000
    const displayMessage = (m) => {
      document.querySelector('#message').innerHTML = m;
    }

    window.onload = () => {
      document.querySelector('#reconnect').addEventListener('click', () => {
        localStorage.removeItem('motd_seen');
        location.reload();
      })

      const seenMotd = localStorage.getItem('motd_seen');
      if (!seenMotd) {

        document.querySelector('#photo').setAttribute('style', 'opacity: 0');
        message = document.querySelector('#message').textContent;
        let lastTick = null;
        const step = (timestamp) => {
          if (!lastTick) lastTick = timestamp;
          const delta = timestamp - lastTick;
          const offset = Math.ceil(characterRate * delta)
          displayMessage(message.substr(0, offset))
          if ( offset < message.length) {
            window.requestAnimationFrame(step);
          } else {
            document.querySelector('#photo').setAttribute('style', 'opacity: 1; transition: opacity 800ms');
            window.localStorage.setItem('motd_seen', true);
          }
        }
        window.requestAnimationFrame(step);
      }
    }
  </script>
{% endblock %}
