{% extends "_tpls/page-clean.html.j2" %}
{% set current_page = "motd" %}
{% set current_page_sub_title = "motd" %}
{% set header_icon = "/images/icons/shiba.png" %}
{% block title %}motd - mango of the day{% endblock %}


{% block meta %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://goodrobot.net/motd/" />
  <meta property="og:title" content="mango of the day - {{ rows[0].title }}" />
  <meta property="og:description" content="Daily pictures of a dog named Mango" />
  <meta property="og:image" content="https://goodrobot.net/images/motd/{{ rows[0].image }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@goodrobot_jd">
  <meta name="twitter:title" content="mango of the day - {{ rows[0].title }}">
  <meta name="twitter:description" content="Daily pictures of a dog named Mango">
  <meta name="twitter:image" content="https://goodrobot.net/images/motd/{{ rows[0].image }}">

  <link type="application/atom+xml" rel="alternate" href="atom.xml">
{% endblock %}

{% block content %}
  {% for row in rows %}
  <article class="photo-card-irix">
    <header class="flex-container row">
      <h3 class="flex-1">
        ~ {{ row.title }} ~
      </h3>
    </header>
    <figure class="flex-container">
      <img alt="A shiba inu - {{ title }}" src="/images/motd/{{ row.image }}">
    </figure>
    <footer class="flex-container row" style="justify-content: space-between">
      <a href="./{{ row.date }}.html"><time datetime="{{ row.date }}" class="flex-1">{{ row.date }}</time></a>
      <button class="irix-button puff">
        <img src="/images/heart.png" width="20" height="20">
      </button>
    </footer>
  </article>
  {% endfor %}
{% endblock %}
