{% extends "_tpls/page-clean.html.j2" %}
{% set current_page = "motd" %}
{% set current_page_sub_title = "motd" %}
{% set header_icon = "/images/icons/shiba.png" %}
{% block title %}motd - mango of the day{% endblock %}

{% block content %}
  <article class="photo-card-irix">
    <header class="flex-container row">
      <h3 class="flex-1">
        ~ <a href="#">Mango - Wat</a> ~
      </h3>
      <div>
        X
      </div>
    </header>
    <figure class="flex-container">
      <img src="/images/mango.jpg">
    </figure>
    <footer class="flex-container row">
      <time datetime="2019-05-16" class="flex-1">2019-05-16</time>
    </footer>
  </article>

  <article class="photo-card-irix">
    <header class="flex-container row">
      <h3 class="flex-1">
        ~ <a href="#">Mango - Wat</a> ~
      </h3>
      <div>
        X
      </div>
    </header>
    <figure class="flex-container">
      <img src="/images/mango.jpg">
    </figure>
    <footer class="flex-container row">
      <time datetime="2019-05-16" class="flex-1">2019-05-16</time>
    </footer>
  </article>

  <article class="photo-card-irix">
    <header class="flex-container row">
      <h3 class="flex-1">
        ~ <a href="#">Mango - Wat</a> ~
      </h3>
      <div>
        X
      </div>
    </header>
    <figure class="flex-container">
      <img src="/images/mango.jpg">
    </figure>
    <footer class="flex-container row">
      <time datetime="2019-05-16" class="flex-1">2019-05-16</time>
    </footer>
  </article>

{% endblock %}
