{% extends "_tpls/page-lab.html" %}
{% set current_page = "gxl" %}
{% block title %}Good Robot Experience Language{% endblock %}

{% block head %}
  <style>
    #rendering {
      color:#fff;
      text-shadow: 1px 1px 2px #000;
      position: absolute;
      margin-left: 5px;
      z-index: 1;
      display: none;
    }
  </style>
{% endblock %}

{% block content %}
      <div>
        <label for="themeSelect">Theme:</label>
        <select id="themeSelect">
          <option value="/css/mono-dark.css">Mono (dark)</option>
          <option value="/css/mono-gruvbox.css">Mono (gruvbox)</option>
          <option value="/css/mono-gruvbox-light.css">Mono (gruvbox light)</option>
          <option value="/css/mono-light.css">Mono</option>
          <option value="/css/gxl.css">Classic</option>
          <option value="/css/goodrobot.css">Goodrobot</option>
        </select>
      </div>
      <h1>Welcome to my style guide</h1>
      <p>
        Here you will find all the things I generally use to build web
        pages. This is probably the third or fourth personal style guide
        I've attempted to make. So really what we're doing is seeing if I
        can complete it and make it look good.
      </p>

      <p>
        Here are some links:
        <ul>
          <li><a href="http://google.com">Google</a></li>
          <li><a href="http://goodrobot.net">Goodrobot.net</a></li>
          <li><a href="http://goodrobot.net/something">Something else</a></li>
        </ul>
      </p>

      <h2>Here are some headings that seem important</h2>
      <h1>&lt;h1&gt; Heading</h1>
      <h2>&lt;h2&gt; Heading</h2>
      <h3>&lt;h3&gt; Heading</h3>

      <h2>Lists</h2>

      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <ul class="list-bullets">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <ul class="list-inline list-separate">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <h2>Buttons</h2>
      <table>
        <thead>
          <tr>
            <th>Class</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing">.button or &lt;button&gt;</td>
            <td>
              <button class="btn">Action</button>
            </td>
          </tr>
          <tr>
            <td>.primary</td>
            <td>
              <button class="primary btn btn-primary">No actually action</button>
            </td>
          </tr>
          <tr>
            <td>.warning</td>
            <td>
              <button class="warning">Watch out!</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Button groups</h3>
      <div class="button-group">
        <button class="btn" >Public</button>
        <button class="btn" >Limited</button>
        <button class="btn" >Private</button>
      </div>
      <div class="button-group">
        <button class="btn">Public</button>
        <button class="btn primary">Limited</button>
        <button class="btn">Private</button>
      </div>

      <h2>Forms</h2>
      <section class="box">
        <header>
          Please login
        </header>

        <form action="get">
          <section class="box-content">
            <label for="blammo">Username: </label>
            <input type="text" placeholder="Type here!" id="blammo" name="blammo">

            <label for="pw">Login: </label>
            <input type="password" placeholder="Type here!" id="pw" name="pw">

            <div class="checkbox">
              <input checked id="news" value="news" type="checkbox">
              <label for="news" class="checkbox"> Newsletter!</label>
            </div>
            </label>
            <div class="checkbox">
              <input id="follow" value="follow" type="checkbox">
              <label for="follow" class="checkbox">Follow!</label>
            </div>
          </section>
          <footer>
            <input class="button primary" type="submit" value="Submit">
          </footer>
        </form>
      </section>

      <h2>Basics</h2>
      <table class="hover">
        <thead>
          <tr><th colspan="3">
              Git Repository
            </th>
        </tr></thead>
        <tbody>
          <tr>
            <td class="collapsing">
              node_modules
            </td>
            <td>Initial commit</td>
            <td class="align-right collapsing">10 hours ago</td>
          </tr>
          <tr>
            <td>
              test
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr>
            <td>
              build
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr class="row-highlight">
            <td>
              package.json
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr>
            <td>
              Gruntfile.js
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
        </tbody>
      </table>

      <h2>Blog Post</h2>

      <article class="post tag-getting-started post-latest">
        <header class="post-heading">
          <a href="/welcome/">Welcome to Ghost</a>
          <time class="post-date" datetime="2017-09-10">09.10.17</time>
        </header>
        <section class="post-content">
          <div class="kg-card-markdown">
            <p>
              Hey! Welcome to Ghost, it's great to have you :)
            </p>
            <p>
              We know that first impressions are important, so we've populated your new site with
              some initial <strong>Getting Started</strong> posts that will help you get familiar
              with everything in no time. This is the first one!
            </p>
            <h3 id="thereareafewthingsthatyoushouldknowupfront">
              There are a few things that you should know up-front:
            </h3>
            <ol>
              <li>
                <p>
                  Ghost is designed for ambitious, professional publishers who want to actively
                  build a business around their content. That's who it works best for. If you're
                  using Ghost for some other purpose, that's fine too - but it might not be the best
                  choice for you.
                </p>
              </li>
              <li>
                <p>
                  The entire platform can be modified and customized to suit your needs, which is
                  very powerful, but doing so <strong>does</strong> require some knowledge of code.
                  Ghost is not necessarily a good platform for beginners or people who just want a
                  simple personal blog.
                </p>
              </li>
              <li>
                <p>
                  For the best experience we recommend downloading the <a
                    href="https://ghost.org/downloads/">Ghost Desktop App</a> for your computer,
                  which is the best way to access your Ghost site on a desktop device.
                </p>
              </li>
            </ol>
            <p>
              Ghost is made by an independent non-profit organisation called the Ghost Foundation.
              We are 100% self funded by revenue from our <a
                href="https://ghost.org/pricing">Ghost(Pro)</a> service, and every penny we make is
              re-invested into funding further development of free, open source technology for
              modern journalism.
            </p>
            <p>
              The main thing you'll want to read about next is probably: <a href="/the-editor/">the
                Ghost editor</a>.
            </p>
            <p>
              Once you're done reading, you can simply delete the default <strong>Ghost</strong>
              user from your team to remove all of these introductory posts!
            </p>
          </div>
        </section>
      </article>

      <h2>Flex Layout</h2>

        <h3>.flex-container .row</h3>
        <div class="flex-container row">
          <div class="flex-1" style="background-color: #a6dcfe">.flex-1</div>
          <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
        </div>
        <br>

        <div class="flex-container row">
          <div style="background-color: #a6dcfe">start</div>
          <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
          <div style="background-color: #a6dcfe">end</div>
        </div>
        <br>

        <div class="flex-container row">
          <div class="flex-2" style="background-color: #a6dcfe">.flex-2</div>
          <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
        </div>

        <h3>.flex-container .column</h3>

        <div class="flex-container row">
          <div class="flex-1">

            <div class="flex-container column" style="height: 200px">
              <div class="flex-1" style="background-color: #a6dcfe">.flex-1</div>
              <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
            </div>

          </div>
          <div class="flex-1">

            <div class="flex-container column" style="height: 200px">
              <div style="background-color: #a6dcfe">start</div>
              <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
              <div style="background-color: #a6dcfe">end</div>
            </div>

          </div>
          <div class="flex-1">

            <div class="flex-container column" style="height: 200px">
              <div class="flex-2" style="background-color: #a6dcfe">.flex-2</div>
              <div class="flex-1" style="background-color: #dff3ff">.flex-1</div>
            </div>

          </div>
        </div>

        <h3>Vertically center</h3>
        <div class="flex-container column" style="background-color: #a6dcfe; height: 200px">
          <div style="background-color: #dff2ff">vertically centered</div>
        </div>
        <br>

      <h2>Colors</h2>

    <table style="margin:0 auto 32px; width: 900px">
      <thead>
        <tr>
          <td>.bg-c##</td>
          <td>.c00</td>
          <td>.c01</td>
          <td>.c02</td>
          <td>.c03</td>
          <td>.c04</td>
          <td>.c05</td>
          <td>.c06</td>
          <td>.c07</td>
          <td>.c08</td>
          <td>.c09</td>
          <td>.c10</td>
          <td>.c11</td>
          <td>.c12</td>
          <td>.c13</td>
          <td>.c14</td>
          <td>.c15</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>.bg-c00</td>
          <td class="bg-c00 c00">.c00</td>
          <td class="bg-c00- c01">.c01</td>
          <td class="bg-c00- c02">.c02</td>
          <td class="bg-c00- c03">.c03</td>
          <td class="bg-c00- c04">.c04</td>
          <td class="bg-c00- c05">.c05</td>
          <td class="bg-c00- c06">.c06</td>
          <td class="bg-c00- c07">.c07</td>
          <td class="bg-c00- c08">.c08</td>
          <td class="bg-c00- c09">.c09</td>
          <td class="bg-c00- c10">.c10</td>
          <td class="bg-c00- c11">.c11</td>
          <td class="bg-c00- c12">.c12</td>
          <td class="bg-c00- c13">.c13</td>
          <td class="bg-c00- c14">.c14</td>
          <td class="bg-c00- c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c01</td>
          <td class="bg-c01 c00">.c00</td>
          <td class="bg-c01 c01">.c01</td>
          <td class="bg-c01 c02">.c02</td>
          <td class="bg-c01 c03">.c03</td>
          <td class="bg-c01 c04">.c04</td>
          <td class="bg-c01 c05">.c05</td>
          <td class="bg-c01 c06">.c06</td>
          <td class="bg-c01 c07">.c07</td>
          <td class="bg-c01 c08">.c08</td>
          <td class="bg-c01 c09">.c09</td>
          <td class="bg-c01 c10">.c10</td>
          <td class="bg-c01 c11">.c11</td>
          <td class="bg-c01 c12">.c12</td>
          <td class="bg-c01 c13">.c13</td>
          <td class="bg-c01 c14">.c14</td>
          <td class="bg-c01 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c02</td>
          <td class="bg-c02 c00">.c00</td>
          <td class="bg-c02 c01">.c01</td>
          <td class="bg-c02 c02">.c02</td>
          <td class="bg-c02 c03">.c03</td>
          <td class="bg-c02 c04">.c04</td>
          <td class="bg-c02 c05">.c05</td>
          <td class="bg-c02 c06">.c06</td>
          <td class="bg-c02 c07">.c07</td>
          <td class="bg-c02 c08">.c08</td>
          <td class="bg-c02 c09">.c09</td>
          <td class="bg-c02 c10">.c10</td>
          <td class="bg-c02 c11">.c11</td>
          <td class="bg-c02 c12">.c12</td>
          <td class="bg-c02 c13">.c13</td>
          <td class="bg-c02 c14">.c14</td>
          <td class="bg-c02 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c03</td>
          <td class="bg-c03 c00">.c00</td>
          <td class="bg-c03 c01">.c01</td>
          <td class="bg-c03 c02">.c02</td>
          <td class="bg-c03 c03">.c03</td>
          <td class="bg-c03 c04">.c04</td>
          <td class="bg-c03 c05">.c05</td>
          <td class="bg-c03 c06">.c06</td>
          <td class="bg-c03 c07">.c07</td>
          <td class="bg-c03 c08">.c08</td>
          <td class="bg-c03 c09">.c09</td>
          <td class="bg-c03 c10">.c10</td>
          <td class="bg-c03 c11">.c11</td>
          <td class="bg-c03 c12">.c12</td>
          <td class="bg-c03 c13">.c13</td>
          <td class="bg-c03 c14">.c14</td>
          <td class="bg-c03 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c04</td>
          <td class="bg-c04 c00">.c00</td>
          <td class="bg-c04 c01">.c01</td>
          <td class="bg-c04 c02">.c02</td>
          <td class="bg-c04 c03">.c03</td>
          <td class="bg-c04 c04">.c04</td>
          <td class="bg-c04 c05">.c05</td>
          <td class="bg-c04 c06">.c06</td>
          <td class="bg-c04 c07">.c07</td>
          <td class="bg-c04 c08">.c08</td>
          <td class="bg-c04 c09">.c09</td>
          <td class="bg-c04 c10">.c10</td>
          <td class="bg-c04 c11">.c11</td>
          <td class="bg-c04 c12">.c12</td>
          <td class="bg-c04 c13">.c13</td>
          <td class="bg-c04 c14">.c14</td>
          <td class="bg-c04 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c05</td>
          <td class="bg-c05 c00">.c00</td>
          <td class="bg-c05 c01">.c01</td>
          <td class="bg-c05 c02">.c02</td>
          <td class="bg-c05 c03">.c03</td>
          <td class="bg-c05 c04">.c04</td>
          <td class="bg-c05 c05">.c05</td>
          <td class="bg-c05 c06">.c06</td>
          <td class="bg-c05 c07">.c07</td>
          <td class="bg-c05 c08">.c08</td>
          <td class="bg-c05 c09">.c09</td>
          <td class="bg-c05 c10">.c10</td>
          <td class="bg-c05 c11">.c11</td>
          <td class="bg-c05 c12">.c12</td>
          <td class="bg-c05 c13">.c13</td>
          <td class="bg-c05 c14">.c14</td>
          <td class="bg-c05 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c06</td>
          <td class="bg-c06 c00">.c00</td>
          <td class="bg-c06 c01">.c01</td>
          <td class="bg-c06 c02">.c02</td>
          <td class="bg-c06 c03">.c03</td>
          <td class="bg-c06 c04">.c04</td>
          <td class="bg-c06 c05">.c05</td>
          <td class="bg-c06 c06">.c06</td>
          <td class="bg-c06 c07">.c07</td>
          <td class="bg-c06 c08">.c08</td>
          <td class="bg-c06 c09">.c09</td>
          <td class="bg-c06 c10">.c10</td>
          <td class="bg-c06 c11">.c11</td>
          <td class="bg-c06 c12">.c12</td>
          <td class="bg-c06 c13">.c13</td>
          <td class="bg-c06 c14">.c14</td>
          <td class="bg-c06 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c07</td>
          <td class="bg-c07 c00">.c00</td>
          <td class="bg-c07 c01">.c01</td>
          <td class="bg-c07 c02">.c02</td>
          <td class="bg-c07 c03">.c03</td>
          <td class="bg-c07 c04">.c04</td>
          <td class="bg-c07 c05">.c05</td>
          <td class="bg-c07 c06">.c06</td>
          <td class="bg-c07 c07">.c07</td>
          <td class="bg-c07 c08">.c08</td>
          <td class="bg-c07 c09">.c09</td>
          <td class="bg-c07 c10">.c10</td>
          <td class="bg-c07 c11">.c11</td>
          <td class="bg-c07 c12">.c12</td>
          <td class="bg-c07 c13">.c13</td>
          <td class="bg-c07 c14">.c14</td>
          <td class="bg-c07 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c08</td>
          <td class="bg-c08 c00">.c00</td>
          <td class="bg-c08 c01">.c01</td>
          <td class="bg-c08 c02">.c02</td>
          <td class="bg-c08 c03">.c03</td>
          <td class="bg-c08 c04">.c04</td>
          <td class="bg-c08 c05">.c05</td>
          <td class="bg-c08 c06">.c06</td>
          <td class="bg-c08 c07">.c07</td>
          <td class="bg-c08 c08">.c08</td>
          <td class="bg-c08 c09">.c09</td>
          <td class="bg-c08 c10">.c10</td>
          <td class="bg-c08 c11">.c11</td>
          <td class="bg-c08 c12">.c12</td>
          <td class="bg-c08 c13">.c13</td>
          <td class="bg-c08 c14">.c14</td>
          <td class="bg-c08 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c09</td>
          <td class="bg-c09 c00">.c00</td>
          <td class="bg-c09 c01">.c01</td>
          <td class="bg-c09 c02">.c02</td>
          <td class="bg-c09 c03">.c03</td>
          <td class="bg-c09 c04">.c04</td>
          <td class="bg-c09 c05">.c05</td>
          <td class="bg-c09 c06">.c06</td>
          <td class="bg-c09 c07">.c07</td>
          <td class="bg-c09 c08">.c08</td>
          <td class="bg-c09 c09">.c09</td>
          <td class="bg-c09 c10">.c10</td>
          <td class="bg-c09 c11">.c11</td>
          <td class="bg-c09 c12">.c12</td>
          <td class="bg-c09 c13">.c13</td>
          <td class="bg-c09 c14">.c14</td>
          <td class="bg-c09 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c10</td>
          <td class="bg-c10 c00">.c00</td>
          <td class="bg-c10 c01">.c01</td>
          <td class="bg-c10 c02">.c02</td>
          <td class="bg-c10 c03">.c03</td>
          <td class="bg-c10 c04">.c04</td>
          <td class="bg-c10 c05">.c05</td>
          <td class="bg-c10 c06">.c06</td>
          <td class="bg-c10 c07">.c07</td>
          <td class="bg-c10 c08">.c08</td>
          <td class="bg-c10 c09">.c09</td>
          <td class="bg-c10 c10">.c10</td>
          <td class="bg-c10 c11">.c11</td>
          <td class="bg-c10 c12">.c12</td>
          <td class="bg-c10 c13">.c13</td>
          <td class="bg-c10 c14">.c14</td>
          <td class="bg-c10 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c11</td>
          <td class="bg-c11 c00">.c00</td>
          <td class="bg-c11 c01">.c01</td>
          <td class="bg-c11 c02">.c02</td>
          <td class="bg-c11 c03">.c03</td>
          <td class="bg-c11 c04">.c04</td>
          <td class="bg-c11 c05">.c05</td>
          <td class="bg-c11 c06">.c06</td>
          <td class="bg-c11 c07">.c07</td>
          <td class="bg-c11 c08">.c08</td>
          <td class="bg-c11 c09">.c09</td>
          <td class="bg-c11 c10">.c10</td>
          <td class="bg-c11 c11">.c11</td>
          <td class="bg-c11 c12">.c12</td>
          <td class="bg-c11 c13">.c13</td>
          <td class="bg-c11 c14">.c14</td>
          <td class="bg-c11 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c12</td>
          <td class="bg-c12 c00">.c00</td>
          <td class="bg-c12 c01">.c01</td>
          <td class="bg-c12 c02">.c02</td>
          <td class="bg-c12 c03">.c03</td>
          <td class="bg-c12 c04">.c04</td>
          <td class="bg-c12 c05">.c05</td>
          <td class="bg-c12 c06">.c06</td>
          <td class="bg-c12 c07">.c07</td>
          <td class="bg-c12 c08">.c08</td>
          <td class="bg-c12 c09">.c09</td>
          <td class="bg-c12 c10">.c10</td>
          <td class="bg-c12 c11">.c11</td>
          <td class="bg-c12 c12">.c12</td>
          <td class="bg-c12 c13">.c13</td>
          <td class="bg-c12 c14">.c14</td>
          <td class="bg-c12 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c13</td>
          <td class="bg-c13 c00">.c00</td>
          <td class="bg-c13 c01">.c01</td>
          <td class="bg-c13 c02">.c02</td>
          <td class="bg-c13 c03">.c03</td>
          <td class="bg-c13 c04">.c04</td>
          <td class="bg-c13 c05">.c05</td>
          <td class="bg-c13 c06">.c06</td>
          <td class="bg-c13 c07">.c07</td>
          <td class="bg-c13 c08">.c08</td>
          <td class="bg-c13 c09">.c09</td>
          <td class="bg-c13 c10">.c10</td>
          <td class="bg-c13 c11">.c11</td>
          <td class="bg-c13 c12">.c12</td>
          <td class="bg-c13 c13">.c13</td>
          <td class="bg-c13 c14">.c14</td>
          <td class="bg-c13 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c14</td>
          <td class="bg-c14 c00">.c00</td>
          <td class="bg-c14 c01">.c01</td>
          <td class="bg-c14 c02">.c02</td>
          <td class="bg-c14 c03">.c03</td>
          <td class="bg-c14 c04">.c04</td>
          <td class="bg-c14 c05">.c05</td>
          <td class="bg-c14 c06">.c06</td>
          <td class="bg-c14 c07">.c07</td>
          <td class="bg-c14 c08">.c08</td>
          <td class="bg-c14 c09">.c09</td>
          <td class="bg-c14 c10">.c10</td>
          <td class="bg-c14 c11">.c11</td>
          <td class="bg-c14 c12">.c12</td>
          <td class="bg-c14 c13">.c13</td>
          <td class="bg-c14 c14">.c14</td>
          <td class="bg-c14 c15">.c15</td>
        </tr>
        <tr>
          <td>.bg-c15</td>
          <td class="bg-c15 c00">.c00</td>
          <td class="bg-c15 c01">.c01</td>
          <td class="bg-c15 c02">.c02</td>
          <td class="bg-c15 c03">.c03</td>
          <td class="bg-c15 c04">.c04</td>
          <td class="bg-c15 c05">.c05</td>
          <td class="bg-c15 c06">.c06</td>
          <td class="bg-c15 c07">.c07</td>
          <td class="bg-c15 c08">.c08</td>
          <td class="bg-c15 c09">.c09</td>
          <td class="bg-c15 c10">.c10</td>
          <td class="bg-c15 c11">.c11</td>
          <td class="bg-c15 c12">.c12</td>
          <td class="bg-c15 c13">.c13</td>
          <td class="bg-c15 c14">.c14</td>
          <td class="bg-c15 c15">.c15</td>
        </tr>
      </tbody>
    </table>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
      document.getElementById('themeSelect').addEventListener('change', function (event) {
        document.querySelector('link[rel="stylesheet"]').setAttribute('href', this.value);
      });
    </script>
{% endblock %}
