{% extends "_tpls/base.html.j2" %}
{% set current_page = "gxl" %}
{% set current_page_sub_title = "gxl" %}
{% block title %}Good Robot Experience Language{% endblock %}

{% block content %}
      <div>
        <label for="themeSelect">Theme:</label>
        <select id="themeSelect">
          <option value="/css/highlight.css">Highlight</option>
          <option value="/css/clean.css">Clean</option>
          <option value="/css/mono-dark.css">Mono (dark)</option>
          <option value="/css/mono-gruvbox.css">Mono (gruvbox)</option>
          <option value="/css/mono-gruvbox-light.css">Mono (gruvbox light)</option>
          <option value="/css/mono-light.css">Mono</option>
          <option value="/css/gxl.css">Classic</option>
          <option value="/css/goodrobot.css">Goodrobot</option>
        </select>
      </div>

      <h1><span>Welcome to my style guide</span></h1>
      <p>
        Here you will find all the things I generally use to build web
        pages. This is probably the third or fourth personal style guide
        I've attempted to make. So really what we're doing is seeing if I
        can complete it and make it look good.
      </p>

      <p>
        Here are some links:
        <ul>
          <li><a href="http://google.com">Google</a></li>
          <li><a href="http://goodrobot.net">Goodrobot.net</a></li>
          <li><a href="http://goodrobot.net/something">Something else</a></li>
        </ul>
      </p>

      <h2><span>Here are some headings that seem important</span></h2>
      <h1><a id="h1" href="blerg">&lt;h1&gt; Heading</a></h1>
      <h2><span>&lt;h2&gt; Heading</span></h2>
      <h3><span>&lt;h3&gt; Heading</span></h3>

      <h2>Lists</h2>

      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <ul class="list-bullets">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <ul class="list-inline list-separate">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>

      <h2>Buttons</h2>
      <table>
        <thead>
          <tr>
            <th>Class</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="collapsing">.button or &lt;button&gt;</td>
            <td>
              <button class="btn">Action</button>
            </td>
          </tr>
          <tr>
            <td>.primary</td>
            <td>
              <button class="primary btn btn-primary">No actually action</button>
            </td>
          </tr>
          <tr>
            <td>.warning</td>
            <td>
              <button class="warning">Watch out!</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Button groups</h3>
      <div class="button-group">
        <button class="btn" >Public</button>
        <button class="btn" >Limited</button>
        <button class="btn" >Private</button>
      </div>
      <div class="button-group">
        <button class="btn">Public</button>
        <button class="btn primary">Limited</button>
        <button class="btn">Private</button>
      </div>

      <h2>Forms</h2>
      <section class="box">
        <header>
          Please login
        </header>

        <form action="get">
            <label for="blammo"> Username: </label>
            <input id="blammo" type="text" placeholder="Type here!" name="blammo">

            <label for="pw"> Login: </label>
            <input id="pw"type="password" placeholder="Type here!" name="pw">

            <label class="checkbox"> 
              <input checked id="news" value="news" type="checkbox">
              Newsletter!
            </label>

            <label class="checkbox">
              <input id="follow" value="follow" type="checkbox">
              Follow!
            </label>
          <footer>
            <button type="submit">Submit</button>
          </footer>
        </form>
      </section>

      <h2>Table</h2>
      <table class="hover">
        <thead>
          <tr><th colspan="3">
              Git Repository
            </th>
        </tr></thead>
        <tbody>
          <tr>
            <td class="collapsing">
              <a href="#">node_modules</a>
            </td>
            <td>Initial commit</td>
            <td class="align-right collapsing">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <a href="#">test</a>
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <a href="#">build</a>
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr class="row-highlight">
            <td>
              <a href="#">package.json</a>
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
          <tr>
            <td>
              <a href="#">Gruntfile.js</a>
            </td>
            <td>Initial commit</td>
            <td class="align-right">10 hours ago</td>
          </tr>
        </tbody>
      </table>

      <h2>Photo Cards</h2>
        <article class="photo-card">
          <header class="flex-container row">
            <h3 class="flex-1">
              <a href="#">Image Title</a>
            </h3>
            <div>
              <button class="btn">Remove</button>
            </div>
          </header>
          <figure class="flex-container">
            <img src="/images/thumbs/mandelbrot_4k_lightning.jpg">
          </figure>
          <footer class="flex-container row">
            <time datetime="2019-05-16" class="flex-1">2019-05-16</time>
            <div>other actions</div>
          </footer>
        </article>


        <article class="photo-card-irix">
          <header class="flex-container row">
            <h3 class="flex-1">
              ~ <a href="#">Mango - Wat</a> ~
            </h3>
            <div>
              X
            </div>
          </header>
          <figure class="flex-container">
            <img src="/images/mango.jpg">
          </figure>
          <footer class="flex-container row" style="justify-content: space-between">
            <a href="test.html"><time datetime="2019-05-16" class="flex-1">2019-05-16</time></a>
            <button class="irix-button puff">
              <img src="/images/heart.png" width="20" height="20">
            </button>
          </footer>
        </article>


      <h2>Colors</h2>

    <table style="margin:0 auto 32px; width: 900px; transform: scale(.77) translate(-16%, -16%)">
      <thead>
        <tr>
          <td>.bg-c##</td>
          {% for index in range(0,18) %}
            <td>.c{{ '{:02d}'.format(index)}}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for bgIndex in range(0, 18) %}
        <tr>
          <td>.bg-c{{ '{:02d}'.format(bgIndex)}}</td>
          {% for index in range(0,18) %}
            <td class="bg-c{{ '{:02d}'.format(bgIndex)}} c{{ '{:02d}'.format(index)}}">.c{{ '{:02d}'.format(index)}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
      document.getElementById('themeSelect').addEventListener('change', function (event) {
        document.querySelector('link[rel="stylesheet"]').setAttribute('href', this.value);
      });
    </script>
{% endblock %}
