{% extends '_tpls/page.html' %}
{% block title %}hello, goodrobot.net{% endblock %}
{% block content %}
  <div class="grid content">
    <div class="col-1-3">
      <h1>codes</h1>

      <h2>hologram</h2>
      <a href="https://github.com/trulia/hologram">
        <img class="box box-thumbnail"  alt="A styleguide built with hologram." src="images/hologram.png">
      </a>
      <p>Living style guide generator.
        <a href="https://github.com/trulia/hologram"><span class="icon-github"></span> code</a>
      </p>

      <h2>spice</h2>
      <a href="https://github.com/jdcantrell/spice">
        <img class="box box-thumbnail" alt="Spice's file view." src="images/spice.png">
      </a>
      <p>
        Self&ndash;hosted file sharing.<br>
        <a href="https://github.com/jdcantrell/spice"><span class="icon-github"></span> code</a>
        <a href="http://share.goodrobot.net"><span class="icon-flask"></span> demo</a>
      </p>
      <h2>ankh</h2>
      <a href="https://github.com/jdcantrell/ankh">
        <img class="box box-thumbnail" alt="A stream built with ankh" src="images/ankh.png">
      </a>
      <p>Feed/stream generator.<br>
        <a href="https://github.com/jdcantrell/ankh"><span class="icon-github"></span> code</a>
        <a href="/stream"><span class="icon-flask"></span> demo</a>
      </p>
    </div>
    <div class="col-2-3">
      <h1>about</h1>
      <p>
        JD is a Senior Front-end Engineer at Trulia. He is always on the
      look out for the next best lego set. Here you can find various bits and zeros I've created or played around with.
      </p>
      <h1>words</h1>
      <ul class="list-no-bullets">
        <li>
        <a href="/posts/local-dev.html">How to setup up local .dev domains</a>
      </ul>
    </div>
  </div>
{% endblock %}
