{% extends "_tpls/base.html.j2" %}
{% block nav %}{% endblock %}
{% block content %}
<style>
.grid {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.headline {
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
  margin-bottom: 12px;
}
@media (max-width: 450px) {
  .headline {
    font-size: 15vw;
  }

}
.col-fill {
  flex: 1;
}
.center {
  margin:auto;
}
.list-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>
  <div class="feature">
    <div class="grid">
      <img src="./android-chrome-512x512.png" style="width:140px; height: 140px;" width="300px" height="300px" />
      <div>
        <h1 class="headline">
          welcome to <br/>
          goodrobot.net
        </h1>
      </div>
    </div>
  </div>

  <p class="center" style="margin:24px auto">
    Hello human. I'm jd, and this is my internet place.
  </p>

  <div class="center">
    <ul class="list-inline">
      {% for href, id, name in nav_items %}
        {% if current_page != id %}
          <li>
            <a href="{{ href|e }}">{{ name|e }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <h1 class="center">recent updates</h1>
  <ul class="center">

    {% for post in posts[-5:]|reverse %}
        <li>
          <a href="{{ post.path|e }}">{{ post.title|e }}</a>
        </li>
    {% endfor %}


    <li>
      <a href="/lab/ifs/">Iterated function systems playground</a>
    </li>
    <li>
      <a href="/lab/mandelbrot/">Mandelbrot Explorer</a>
    </li>
    <li>
      <a href="/miu">The MU-puzzle</a>
    </li>
    <li>
      <a href="/posts/local-dev.html">How to setup up local .dev domains</a>
    </li>
    <li>
      <a href="/posts/gnome-boxes-and-modern-ie.html">Gnome Boxes and Modern.ie</a>
    </li>
  </ul>
{% endblock content %}
{% block footer %}{% endblock footer %}
