{% extends '_tpls/page.html' %}
{% block title %}hello, goodrobot.net{% endblock %}
{% block content %}
  <div class="grid content">
    <div class="col-1-3">
      <h2>hologram</h2>
      <p>Living style guide generator.
        <a href="https://github.com/trulia/hologram"><span class="icon-github"></span> code</a>
      </p>
      <a href="https://github.com/trulia/hologram">
        <img class="box box-thumbnail"  alt="A styleguide built with hologram." src="images/hologram.png">
      </a>
    </div>

    <div class="col-1-3">
      <h2>ankh</h2>
      <p>Feed/stream generator.<br>
        <a href="https://github.com/jdcantrell/ankh"><span class="icon-github"></span> code</a>
        <a href="/stream"><span class="icon-flask"></span> demo</a>
      </p>
      <a href="https://github.com/jdcantrell/ankh">
        <img class="box box-thumbnail" alt="A stream built with ankh" src="images/ankh.png">
      </a>
    </div>

    <div class="col-1-3">
      <h2>spice</h2>
      <p>
        Self&ndash;hosted file sharing.<br>
        <a href="https://github.com/jdcantrell/spice"><span class="icon-github"></span> code</a>
        <a href="http://share.goodrobot.net"><span class="icon-flask"></span> demo</a>
      </p>
      <a href="https://github.com/jdcantrell/spice">
        <img class="box box-thumbnail" alt="Spice's file view." src="images/spice.png">
      </a>
    </div>

  </div>
  <div class="grid content" style="margin-top:25px">

    <div class="col-1-2">
      <h1>about</h1>
      <p>Hi, I'm JD, and this is my internet place.</p>
    </div>

    <div class="col-1-2">
      <h1>words</h1>
      <ul class="list-no-bullets">
        <li> <a href="/posts/local-dev.html">How to setup up local .dev domains</a>
      </ul>
    </div>
  </div>
{% endblock %}
