{% extends "_tpls/base.html.j2" %}


{% block meta %}
  <link href="https://goodrobot.net/feed.xml" rel="alternate" type="application/atom+xml" title="goodrobot.net">
{% endblock meta %}

{% block nav %}{% endblock %}
{% block content %}

<style>
.grid {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.headline {
  font-weight: bold;
  font-size: 72px;
  line-height: 1;
  margin-bottom: 12px;
}

@media (max-width: 450px) {
  .headline {
    font-size: 15vw;
  }

}
.col-fill {
  flex: 1;
}
.center {
  margin:auto;
}
.list-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>
  <div class="feature">
    <div class="grid">
      <img src="./android-chrome-512x512.png" style="width:140px; height: 140px;" width="300px" height="300px" />
      <div>
        <h1 class="headline">
          welcome to <br/>
          goodrobot.net
        </h1>
      </div>
    </div>
  </div>

  <p class="center" style="margin:24px auto">
    Hello human. I'm jd, and this is my internet place.
  </p>

  <div class="center">
    <ul class="list-inline">
      {% for href, id, name in nav_items %}
        {% if current_page != id %}
          <li>
            <a href="{{ href|e }}">{{ name|e }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <h1 class="center">projects</h1>
  <ul class="center">
    <li><a href="/lab/breeze">breeze</a> - a basic apple health export parser</li>
    <li><a href="/lab/radio">woof</a> - simple radio stream page powered by mpd</li>
    <li><a href="/sock">sock</a> - micro blog written in python</li>
    <li><a href="/share">spice</a> - self-hosted file sharing site</li>
  </ul>
  <p class="center">
  (check <a href="/projects">projects page</a> for details)
  </p>
  <h1 class="center">writings</h1>
  <ul class="center">

    {% for post in posts[:5] %}
        <li style="display:flex;justify-content: space-between; gap: 10px; font-variant-numeric: tabular-nums">
          <a href="{{ post.path|e }}">{{ post.title|e }}</a>
          {{ post.date }}
        </li>
    {% endfor %}
  </ul>
{% endblock content %}
{% block footer %}{% endblock footer %}
