{% extends "_tpls/base.html.j2" %}
{% set current_page = "podcasts" %}
{% set current_page_sub_title = "podcasts" %}
{% block title %}
  Podcasts
{% endblock title %}

{% block content %}
  <h1>
    Podcasts
  </h1>
  <p>
    Here are a few podcasts that I've been enjoying lately. Usually I have these
    on while running or goofing around in the gym.
  </p>
  <h2><a href="https://pod.link/developer-voices">Developer Voices</a></h2>
  <p>
    This podcast gets into some pretty techincal details about a lot of different
    projects. I really like hearing creators and maintainers get into the weeds
    on different tools and projects that I use
  </p>

  <h2>
    <a href="https://developertea.com/">Developer Tea</a>
  </h2>
  <p>
    This podcast talks about a lot of common themes that come up during a career
    in tech. It's sort of like a 1:1 with your manager if your manager only
    focused on giving you perspective and advice about your career.
  </p>

  <h2>
    <a href="https://pod.link/1651876897">If Books Could Kill</a>
  </h2>
  <p>
    I never expected the debunking and fact checking of self-help and
    pop-philosophy books to be so hilarious, this is one of my favorites.
  </p>

  <h2>
    <a href="https://fs.blog/episodes/">The Knowledge Project</a>
  </h2>
  <p>
    This podcast drops a lot of good advice on relationships, working with
    others, and different ways of looking at life. It can occasionally be a
    little too "ceo/successful business person" worshipy, but then they come
    back with an episode that's solid.
  </p>

  <h2>
    <a href="https://naddpod.com/">Not Another D&D Podcast</a>
  </h2>
  <p>
    My favorite dungeons and dragons live play podcast. This group is hilarious
    an so entertaining.
  </p>

  <h2>
    <a href="https://onbeing.org/series/podcast/">On Being with Krista Tippett</a>
  </h2>
  <p>
    I love the different perspectives and themes this podcast covers. It's an
    interview with a different person each episode, and a lot of the focus is on
    life and our spiritual being in it. The people interviewed come from all
    kinds of faiths and walks of life, and in a lot of ways focuses on the human
    aspect of religion without getting into preaching or making claims about any
    one true path. Krista Tippett is such a great interviewer.
  </p>

  <h2>
    <a href="https://www.thepenumbrapodcast.com/">The Penumbra Podcast</a>
  </h2>
  <p>
    I love all the Juno Steel stories in this podcast. They recently ended that
    series, but will be back with something new sometime in 2025. This series so
    sooo good.
  </p>

  <h2>
    <a href="https://startalkmedia.com/">StarTalk Radio</a>
  </h2>
  <p>
    Lots of great science talk here, and always entertaining.
  </p>

  <h2>
    <a href="https://www.thedeeplife.com/listen/">Deep Questions with Cal Newport</a>
  </h2>
  <p>
    I use this podcast to remind me of the best parts of Deep Work, it's good
    for reminding me there's other ways to look at productivity. It can be a
    little, "yea that works in academia, but maybe not in real life" at times,
    but still good.
  </p>

  <h2>
    <a href="https://darknetdiaries.com/">Darknet Diaries</a>
  </h2>
  <p>
    An excellent podcast about scams, hacks, and kinds of shenanigans enabled by
    our tech world
  </p>
{% endblock content %}
