$font-color: $c05
$body-color: $font-color
$body-background-color: $c00
$font-size: 16px

$anchor-color-hover: $c08
$anchor-color: $c08

$background-color-active: $c12
$background-color-highlight: $c01

$border-color: $c07
$border-radius: 3px
$border: 1px solid $border-color

$button-background-color: $c02
$button-background-color-active: lighten($button-background-color, 15%)
$button-background-color-highlight: lighten($button-background-color, 10%)
$button-primary-background-color: $c12
$button-primary-color: $c00
$button-primary-background-color-active: lighten($button-primary-background-color, 15%)
$button-primary-background-color-highlight: lighten($button-primary-background-color, 10%)

$caption-color: $c08
$input-background-color: $c01

$paddings: ( l: 20px, m: 10px, s: 5px, n: 0 )
