//theme colors unikitty light
$c00: #f9f4f2
$c01: #fffcfc
$c02: #f2eeec
$c03: #d5c4a1
$c04: #bdae93
$c05: #9f9f9f
$c06: #fff
$c07: #282828

$c08: #cc241d
//$c09: #10a269
$c09: #0a7f53
$c10: #134b4b
$c11: #57d450
$c12: #65c6c4
$c13: #408ab4
$c14: #34699a
$c15: #113f67

// TODO
// - find accent colors (warm and bright)
// - find background colors (warm and cozy)
// - make sure link color is pleasant
// - mock up photo card
// - make sure forms and buttons still look good
// - think about alternative fonts

@font-face
  font-family: 'FantasqueSansMonoRegular'
  src: url('/images/fonts/FantasqueSansMono-Regular.woff2')
  font-weight: normal
  font-style: normal

$font-family: "FantasqueSansMonoRegular" , monospace

@import './_variables';


$photo-card-background: $c06


$page-header-background-color: $c13
$page-header-color: $c07
$page-header-title-background-color: $c15
$page-header-title-color: $c00
$page-sub-header-title-background-color: $c14
$page-sub-header-title-color: $c00
$page-nav-background: $c00

$page-footer-background-color: darken($c00, 2%)
$page-footer-color: $c06
$page-footer-title-color: $c01
$page-footer-title-background-color: $c13


$nav-hover-background-color: $c15
$nav-text-color: $c10
$nav-hover-text-color: $c00


$anchor-color-hover: $c09
$anchor-color: $c09

$font-color: $c07

$button-background-color: $c01
$button-lowlight: darken($button-primary-background-color, 15%)
$button-highlight: lighten($button-primary-background-color, 10%)
$button-border-color: $button-highlight $button-lowlight $button-lowlight $button-highlight
$button-border-color-active: $button-lowlight $button-highlight $button-highlight $button-lowlight
$button-background-color-highlight: lighten($button-primary-background-color, 10%)
$button-background-color-active: $button-primary-background-color

$button-primary-color: $c10
$button-primary-background-color-active: lighten($button-primary-background-color, 15%)
$button-primary-background-color-highlight: lighten($button-primary-background-color, 10%)

$border-color: $c05
$border-radius: 2px
$border: 2px solid $border-color

$input-checkbox-color: $c09
$input-border-lowlight: darken($c05, 20%)
$input-border-highlight: $c05

$box-border-lowlight: darken($c05, 20%)
$box-border-highlight: $c05

$background-color-active: lighten($c09, 55%)


@import './_mono';
