//theme colors
// unikitty light
$c00: #2e2a31
$c01: #4a464d
$c02: #666369
$c03: #838085
$c04: #9f9da2
$c05: #bcbabe
$c06: #d8d7da
$c07: #f5f4f7

$c08: #d8137f
$c09: #d65407
$c10: #dc8a0e
$c11: #17ad98
$c12: #149bda
$c13: #796af5
$c14: #bb60ea
$c15: #c720ca

$font-family: Menlo, Consolas, monospace

$page-header-background-color: $c01
$page-header-color: $c06
$page-header-title-background-color: $c12
$page-header-title-color: $c07
$page-sub-header-title-background-color: #2e65ab
$page-sub-header-title-color: $c07
$page-nav-background: $c02

$page-footer-background-color: $c01
$page-footer-color: $c06
$page-footer-title-color: $c01
$page-footer-title-background-color: $c13

$nav-hover-background-color: $c08
$nav-text-color: $c07

@import './_variables';

body
  font-size: $font-size

$button-background-color: #342f38
$button-background-color-active: lighten($button-background-color, 15%)
$button-background-color-highlight: lighten($button-background-color, 10%)

$button-primary-color: $c00
$button-primary-background-color-active: lighten($button-primary-background-color, 15%)
$button-primary-background-color-highlight: lighten($button-primary-background-color, 10%)


@import './_mono';
