//theme colors
// unikitty light
$c00: #fff
$c01: #e1e1e2
$c02: #c3c4c5
$c03: #a7a5a8
$c04: #89878b
$c05: #6c696e
$c06: #4f4b51
$c07: #322d34

$c08: #d8137f
$c09: #d65407
$c10: #dc8a0e
$c11: #17ad98
$c12: #149bda
$c13: #775dff
$c14: #aa17e6
$c15: #e013d0

@import './_variables';
$font-family: Menlo, Consolas, monospace

$page-header-background-color: $c06
$page-header-color: $c02

$page-header-title-background-color: $c12
$page-sub-header-title-background-color: $c11

$page-header-title-color: $c00
$page-sub-header-title-color: $c00

$page-footer-background-color: $c06
$page-footer-color: $c02
$page-footer-title-color: $c07
$page-footer-title-background-color: $c14

@import './_mono';
