{% extends "_tpls/base.html.j2" %}
{% set current_page = "projects" %}
{% set current_page_sub_title = "projects" %}
{% block title %}
  Projects
{% endblock title %}
{% block head %}
  <style>
  .project {
    display: grid;
    gap: 16px;
    grid-template-columns: 200px 1fr;
  }
  </style>
{% endblock head %}
{% block content %}
  <h1>Projects</h1>
  <p>All of these are free time projects. You'll find very little beautiful code, but perhaps you will find a few things that actually work. Most of these I am using in some capacity personally.</p>


  <h2>Breeze</h2>
  <div class="project">
    <a href="/images/breeze.png">
      <img alt="screenshot of breeze, an apple health export to html generator"
           src="{{ "images/breeze.png"|preview }}"/>
    </a>
    <div>
      <p>
      Breeze parses Apple Health exports and then generates html pages based on that data. I use this to show the details and data I feel are missing from Strava.
      </p>
      <ul class="list-inline">
        <li>
          <a href="https://goodrobot.net/git/jdcantrell/breeze">Source</a>
        </li>
        <li>
          <a href="/lab/breeze">Demo</a>
        </li>
      </ul>
    </div>
  </div>

  <h2>Woof</h2>
  <div class="project">
    <a href="/images/woof.png">
      <img alt="screenshot of woof, a service and front-end for mpd streams"
           src="{{ "images/woof.png"|preview }}"/>
    </a>
    <div>
      <p>
      Sometimes I want to share my current mpd stream with friends, and so I wrote this little
      tool that checks in with my mpd server about what song is playing and then sends that off
      as a server sent event. This is essentially a minimal personal radio stream you can share
      via a web page.
      </p>
      <ul class="list-inline">
        <li>
          <a href="https://goodrobot.net/git/jdcantrell/woof">Source</a>
        </li>
        <li>
          <a href="/lab/radio">Demo</a>
        </li>
      </ul>
    </div>
  </div>

  <h2>Sock</h2>
  <div class="project">
    <a href="/images/sock.png">
      <img alt="screenshot of sock, a microblog"
           src="{{ "images/sock.png"|preview }}"/>
    </a>
    <div>
      <p>
      Sock is a microblog written in python. I basically use this to post notes to my future self.
      </p>
      <ul class="list-inline">
        <li>
          <a href="https://goodrobot.net/git/jdcantrell/sock">Source</a>
        </li>
        <li>
          <a href="/sock">Demo</a>
        </li>
      </ul>
    </div>
  </div>

  <h2>Ankh</h2>
  <div class="project">
    <img class="image"
         alt="screenshot of ankh, a rss feed formatter"
         src="/images/ankh.png">
    <div>
      <p>
        Ankh is a python script that generates html from RSS feeds. You
        feed it a jinja2 template and use some of the built in template
        tags and it creates your very own custom feed reader. I use this
        for my <a href="https://goodrobot.net/stream">links page</a>.
      </p>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/jdcantrell/ankh">Source</a>
        </li>
        <li>
          <a href="/stream">Demo</a>
        </li>
      </ul>
    </div>
  </div>
  <h2>Spice</h2>
  <div class="project">
    <img class="image"
         alt="screenshot of spice, a personal file image hosting site"
         src="/images/spice.png">
    <div>
      <p>
        Spice is a self-hosted file sharing site. It lets you upload
        files easily by drag and drop. I primarily use this to share
        screenshots of my works in progress.
      </p>
      <ul class="list-inline">
        <li>
          <a href="https://github.com/jdcantrell/spice">Source</a>
        </li>
        <li>
          <a href="/share">Demo</a>
        </li>
      </ul>
    </div>
  </div>

  <h2>Others</h2>
  <div class="project">
    <img class="image"
         alt="image of a mandelbrot fractal"
         src="/images/thumbs/mandelbrot_4k_lightning.jpg">
    <div>
      <p>
        You can also find smaller toy projects in the <a href="/lab">lab section</a>. And, I have a few random things at <a href="https://glitch.com/@jdc">glitch</a>.
      </p>
    </div>
  </div>
{% endblock content %}
