html,
body {
  font-size: 16px;
  font-family: Menlo, Consolas, monospace;
  color: #333;
  padding: 0;
  margin: 0; }

input {
  font-size: 16px;
  font-family: Menlo, Consolas, monospace;
  color: #333; }

.content {
  width: 700px;
  margin: auto; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate; }
  table .collapsing {
    width: 1px;
    white-space: nowrap; }

table.hover tbody > tr:hover {
  background-color: #dff3ff; }

tr.row-highlight {
  background-color: #a6dcfe; }

td, th {
  padding: 5px; }

thead {
  text-align: left; }

ul {
  list-style: none; }

.list-bullets {
  list-style: disc; }

.list-inline {
  padding: 0;
  margin: 0;
  display: inline-block; }
  .list-inline li {
    display: inline-block;
    margin-right: 5px; }

button, .button {
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-family: Menlo, Consolas, monospace;
  font-size: 16px;
  padding: 10px;
  cursor: pointer; }
  button:hover, button:hover, .button:hover, .button:hover {
    background-color: #e0e0e0; }
  button:active, .button:active {
    background-color: lightgray; }
  button.primary, .button.primary {
    background-color: #0087dd;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    border: 1px solid #ccc;
    border-color: #004977; }
    button.primary:hover, .button.primary:hover {
      background-color: #0068aa; }
    button.primary:active, .button.primary:active {
      background-color: #005891; }

.button-group {
  font-size: 0;
  display: inline-block; }
  .button-group button, .button-group .button {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0; }
    .button-group button:first-child, .button-group .button:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left-width: 1px !important; }
    .button-group button:last-child, .button-group .button:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right-width: 1px !important; }

.box {
  border-radius: 3px;
  border: 1px solid #ccc; }
  .box header {
    border-bottom: 1px solid #ccc;
    padding: 20px; }
  .box .box-content {
    padding: 20px; }
  .box footer {
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: right; }

.toolbar {
  display: flex;
  border-bottom: 3px solid #0087dd;
  padding: 8px;
  margin: 0 4px 15px;
  align-items: center;
  justify-content: space-between; }
  .toolbar .toolbar-header {
    display: inline-block;
    font-size: 20px;
    font-weight: bold; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.flex-container {
  align-items: center;
  justify-content: center;
  display: flex; }
  .flex-container.column {
    flex-direction: column; }
  .flex-container.row {
    flex-direction: row; }
  .flex-container > .start {
    align-items: center;
    justify-content: flex-start;
    display: flex; }
  .flex-container > .end {
    align-items: center;
    justify-content: flex-end;
    display: flex; }
  .flex-container > .flex-1 {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1; }
  .flex-container > .flex-2 {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 2; }
  .flex-container > .flex-3 {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 3; }
